<div class="container">
    <div class="flex-row d-flex">
        <div>
            <form>
                <input id="day_id" type="hidden" name="day_id">
                <div class="row">
                    <p class="col">выберите изображение</p>
                    <input class="col" id="news_file" type="file" multiple  name="">
                </div>
                <div class="row">
                    <p class="col">Заголовок новости</p>
                    <input class="col" id="news_title" type="text" name="">
                </div>
                <div class="row">
                    <p class="col">текст новости</p>
                    <textarea id="news_text" class="col" name=""></textarea>
                </div>
            </form>
        </div>
        <div id="images_preview" class="flex-row mb-3 d-flex ">
            <img id="news_placeholder" src="/static/img/placeholders/news_placeholder.jpg" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input id='news_addBtn' class="modal_submit" type="button" value="Создать">
    </div>
        
</div>