<div class="container">
        <div>
            <form>
                <input id="day_id" type="hidden" name="day_id">
                <div class="row">
                    <p class="col">выберите изображение</p>
                    <input class="col" id="" type="file" name="">
                </div>
                <div class="row">
                    <p class="col">Заголовок новости</p>
                    <input class="col" id="" type="text" name="">
                </div>
                <div class="row">
                    <p class="col">текст новости</p>
                    <textarea class="col" name="" id=""></textarea>
                </div>
                <input id='scheduleDay_addBtn' class="modal_submit" type="button" value="Создать">
            </form>
        </div>
</div>