<div class="container">
        <div>
            <form>
                <input id="day_id" type="hidden" name="day_id">
                <div class="row">
                    <p class="col">выберите изображение</p>
                    <input class="col" id="news_file" type="file" multiple  name="">
                </div>
                <div class="row">
                    <p class="col">Заголовок новости</p>
                    <input class="col" id="news_title" type="text" name="">
                </div>
                <div class="row">
                    <p class="col">текст новости</p>
                    <textarea id="news_text" class="col" name=""></textarea>
                </div>
                <input id='news_addBtn' class="modal_submit" type="button" value="Создать">
            </form>
        </div>
</div>