<div class="container">
        <div>
            <form>
                <input id="day_id" type="hidden" name="day_id">
                <input id="location" type="text" name="location" placeholder="Введите локацию">
                <input id="day" type="text" name="day" placeholder="Введите день недели">
                <input id="start" type="text" name="start" placeholder="Введите время начала">
                <input id="end" type="text" name="end" placeholder="Введите время завершения">
                <input id='scheduleDay_addBtn' class="modal_submit" type="button" value="добавить день">
            </form>
        </div>
</div>