<div class="container">
        <div>
            <form id='scheduleDay_form' action="/createScheduleDay" method="post">
                <input id="location" type="text" name="location" placeholder="Введите локацию">
                <input id="day" type="text" name="day" placeholder="Введите день недели">
                <input id="start" type="text" name="start" placeholder="Введите время начала">
                <input id="end" type="text" name="end" placeholder="Введите время завершения">
                <input class="modal_submit" type="submit" value="добавить день">
            </form>
        </div>
</div>