{% extends 'base/base.html' %}
{% block content %}
<!--Секция новости-->
{% if not news %}
<section id="news" class="static_h basic_bg">
    {% if current_user.is_authenticated %}
    <div class="edit_tools"> <!--инстурменты администратора для данного блока-->
        <h1>Новостей нет, добавьте новость</h1>
        <a href="/admin/news/new/?url=/news/">добавить новость</a>
    </div>
    {% else %}
    <h1>Здесь будут все наши новости!</h1>
    {% endif %}
    
</section>
{% else %}
<section id="news" class="static_h basic_bg"> 
    
    <div class="container">
        <div class="d-flex flex-column">
            
            {% for new in news %}
            <div class="row" data-new_id="{{new['id']}}">
                <div class="news_image col-4">
                    <img src="/{{new['image_src']}}" alt="...">
                </div>
                <div class="col">
                    <h5 class="card-title">{{new['title']}}</h5>
                    <p class="card-text">{{ new['news_desc']|truncate(150, True, '...') }}</p>
                    <p class="news_date">{{new['date']}}</p>
                    <a href="/news/more/{{new['id']}}" class="btn btn-light">Узнать больше</a>
                </div>
                {% if current_user.is_authenticated == True %}
                <div class="col news_edit_tools">
                    <a class="basis_edit_btn" href="/admin/news/edit/?id={{new['id']}}&url=/news/"></a> 
                    <a class="basis_close_btn" href="/news/delete/{{new['id']}}"></a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
    </div>
  </section>
{% endif %}
{% endblock %}
