{% if current_user.is_authenticated %}
    {% extends 'base/admin_base.html' %}
{% else %}
    {% extends 'base/base.html' %}
{% endif %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="admin_tools">
    <button class="my_add_btn_static" ><a href="/admin/">войти в админ панель</a></button>
</div>
{% endif %}
<!--1 Секция опросни и слайдер-->
{% include 'slider/quiz_block.html' %}

<div class="purple_gradient">
<!--2 Секция последняя новость-->
{% include 'news/last_news.html' %}
<!--3 Секция расписание-->
{% include 'schedule/schedule_block.html' %}
</div>
<!--4 Секция медиа-->
{% include 'html_blocks/index/media_index_block.html' %}
<!--5 Секция преподователи-->
{% include 'html_blocks/index/teachers_block.html' %} 
<!--6 Секция faq-->
{% include 'html_blocks/index/faq_block.html' %}
<!--7 Секция join-->
{% include 'html_blocks/index/join_block.html' %}
{% endblock %}


