<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">{{scheduleInfo['sectionTitle']}}</h2>
        <hr class="hr-line">
        <p class="custom_p">{{scheduleInfo['sectionDesc']}}</p>
        <table class="table_rasp">
          <tr>
            <th class="none_border_left_top_bottom"></th>
            <th class="">День недели</th>
            <th>Время начала занятия</th>
            <th>Время завершения занятия</th>
            <th>Место проведения</th>
            <th class="none_border_right_top_bottom"></th>
              <th class="none_border_right_top_bottom"></th>
          </tr>
        {% for day in scheduleDays %}
            <tr data-scheduleDay-id="{{day['id']}}">
                <td class="none_border_left_top_bottom"></td>
                <td id="scheduleDayName">{{day['day']}}</td>
                <td id="scheduleStart">{{day['start']}}</td>
                <td id="scheduleEnd">{{day['end']}}</td>
                <td id="scheduleLocation">{{day['location']}} </td>
<!--             инстурменты редактирования для данного блока-->
                {% if current_user.is_authenticated %}
                <td class="none_border_right_top_bottom td_hover"><a href="/updateSchedule_page/{{day['id']}}">ред</a></td>
                <td class="none_border_right_top_bottom td_hover"><a href="/deleteScheduleDay/{{day['id']}}">del</a></td>
                {% endif %}
            </tr>
        {% endfor %}
            {% if current_user.is_authenticated %}
            <tr> 
                 <!-- блок для пустого расписания  -->
                <td class="none_border_left_top_bottom" ></td>
                <td colspan="4" class="" ><a class="my_add_btn_dynamic" href="/createSchedule_page">добавить день</a></td>
            </tr>
            {% endif %}
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr class="">
            <td class="none_border_left_top_bottom "></td>
            <td colspan="4" class="info_rasp_dop ">{{scheduleInfo['sectionReq']}}</td>
            <td class="none_border_right_top_bottom"></td>
          </tr>
        </table>
      </div>
  </div>
</section>