<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">{{scheduleInfo['sectionTitle']}}</h2>
        <hr class="hr-line">
        <p class="custom_p">{{scheduleInfo['sectionDesc']}}</p>
        <table class="table_rasp">
          <tr>
            <th colspan="2">День недели</th>
            <th>Время начала занятия</th>
            <th>Время завершения занятия</th>
            <th colspan="2">Место проведения</th>
          </tr>
        {% for day in scheduleDays %}
            <tr data-scheduleDay-id="{{day['id']}}">
                <td colspan="2" id="scheduleDayName">{{day['day']}}</td>
                <td id="scheduleStart">{{day['start']}}</td>
                <td id="scheduleEnd">{{day['end']}}</td>
                <td colspan="2" id="scheduleLocation">{{day['location']}} </td>
                {% if current_user.is_authenticated %} <!-- инстурменты редактирования для данного блока -->
                <td class="none_border_right_top_bottom td_hover"><a href="/updateSchedule_page/{{day['id']}}">ред</a></td>
                <td class="none_border_right_top_bottom td_hover basis_close_btn"><a href="/deleteScheduleDay/{{day['id']}}"></a></td>
                {% endif %}
            </tr>
        {% endfor %}
            {% if current_user.is_authenticated %}
            <tr> 
                <td colspan="5" class="" ><a class="my_add_btn_dynamic" href="/createSchedule_page">добавить день</a></td>
            </tr>
            {% endif %}
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr>
            <td colspan="5" class="info_rasp_dop ">{{scheduleInfo['sectionReq']}}</td>
          </tr>
        </table>
      </div>
  </div>
</section>