/* стили-переопределения general_css для страницы admin_panel.html  */
/* общие стили */
*{
    transition-duration: 300ms;
    transition-property: all;
}
.admin_header{
    filter: hue-rotate(60deg);
}
/* tr{position: relative !important;} */
td.td_hover{
    opacity: 40%;
    background-color: #491c5a;
    transform: translateX(10px);
    font-weight: 200; 
    /* background: url(/static/svg/edit_icon_light.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 80%; */
}
#table:hover td.td_hover{
    opacity: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 8px 4px #200c27;
    transform:scale(0.9, 0.9) translateX(20px);
    
}
td.td_hover:hover{
    filter: brightness(2);
}
td.td_hover:active{
    transition-duration: 10ms;
    background: #380505;
}

.my_add_btn_static{
    border: 1px solid transparent!important;
    background-color: #491c5a;
    color: white !important;
    transform: scale(0.89, 1);
    font-weight: 200;
    letter-spacing: 4px;
    margin: 2% auto;
    padding: 1%;
    width: 50%
}
.my_add_btn_dynamic{
    border: 1px solid transparent!important;
    opacity: 40%;
    background-color: #491c5a;
    color: white;
    transform: scale(0.89, 1);
    font-weight: 200;
    letter-spacing: 4px;
    margin-top: 2%;
    padding: 1%;
    width: 50%
}

#table:hover button.my_add_btn_dynamic{
    box-shadow: 3px 3px 8px 4px #200c27;
    transform:scale(1.01, 1.01) ;
    opacity: 100%;
    cursor: pointer;
}
button.my_add_btn_dynamic:hover, button.my_add_btn_static:hover{
    filter: brightness(2);
}
button.my_add_btn_dynamic:active, button.my_add_btn_static:active{
    transition-duration: 10ms;
    background: #380505!important;
}
.none_border_left_top_bottom{
    /* background: transparent!important; */
    border: 1px solid transparent!important;
    width: 50px;
    border-right: 1px solid white!important;
}
.none_border_right_top_bottom{
    /* background: transparent!important; */
    border: 1px solid transparent!important;
    width: 50px;
    border-left: 1px solid white!important;
}










.editor_hover{
    border: 1px solid transparent;
    margin-right: 5%;
}
 .editor_hover:hover{
    box-shadow: 3px 3px 8px 4px #200c27;
    border-radius: 6px;
    transform:scale(1.01, 1.01);
    text-shadow: 4px 4px 6px black;
    border: 1px solid #4c1f5e;
}