/* общие стили */
html {
    scroll-behavior: auto !important;
}
* {
    transition-duration: 300ms !important;
    transition-property: all !important;
}
a {
    text-decoration: none;
    color: white;
}
body {
    padding: 0 !important;
    margin: 0 !important;
}
.b_test, .b_test>*, .b_test>*>*, .b_test>*>*>*, .b_test>*>*>*>*{
    outline: 1px solid red;
}
/* .empty_schedule{
    display: none;
} */
.static_h {
    min-height: 86vh;
    color: white;
}
.db_none {
    display: none !important;
}
.pos_absolute {
    position: absolute;
}
.pos_relative {
    position: relative;
    text-align: right;
}
#img_close {
    display: none;
}
.basic_bg { 
    background: url("../img/bg.svg") center no-repeat;}
/* стили кнопок */
.basis_close_btn {
    background: url('/static/svg/icon_exit_darkPurple.svg');
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-left: 15px;
}
.basis_edit_btn {
    background: url('/static/svg/icon_edit_darkPurple.svg');
    width: 30px;
    height: 30px;
    margin-top: 5px;    
}
.basis_close_btn, 
.basis_edit_btn {
    filter: opacity(30%);
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
/* блок с преподавателями */
#teacher{
    padding: 120px 0;
    margin: 0;
    background-color: #2C133E;
    color: white;  
}
div.card{
    border: none;
    font-size: 1.2em;
}
div.card h2{
    font-size: 1.8em;
}
.image_teacher{
    transform: translateX(-15px);
}
.teacher_base_card{
    background: white;
    width: 100%;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    border: 1px solid white;
    margin-bottom: 2%;
}
/* определение для страницы галерея */
div.photos>div:hover>button.basis_close_btn
{
    filter: opacity(100%);
}
/* стили страниц */
/*Слайдер*/
#slider {
    background: url("../img/bg.svg") center no-repeat;
}
.pad_section_slider {
    padding: 5% 0;
}
/*медиа блок*/
#media {
    padding: 120px 0;
}
/* Расписание */
#schedule {
    padding: 100px 0;
    /* background-color: #2C133E; */
    background-color: none;
    color: white;
}
.schedule{
    color: white;
    font-size: 1.5em;
    height: 86vh;
}
.galleryEvent{
    height: 86vh;
}
/*страница новости */
#news div.d-flex > div.row{
    margin: 1%;
    padding: 1%; 
    color: black;
    border: 1px solid white;
    box-shadow: 3px 1px 15px 1px #4b2067 ;
    filter: brightness(90%) blur(0px);
    border-radius: 12px;
    background: white;
    transition-duration: 300ms !important;
    transition-property: all !important;
}
.news_image{
    padding: 0;
    margin: 0;
    max-height: 170px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 6px;    
    border: 1px solid white;
}
.news_image img {
    min-width: 300px;
    object-fit: cover;
    object-position: center; 
}
#news div.d-flex > div.row:hover{
    background: #4b2067;
    border: 1px solid white;
    color: white;
    transition-duration: 300ms !important;
    transition-property: all !important;
}
#news div.d-flex > div.row:hover .basis_close_btn {
    background: url('/static/svg/exit_icon_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#news div.d-flex > div.row .basis_close_btn:hover,
#news div.d-flex > div.row .basis_edit_btn:hover{
    transform: scale(1.3, 1.3);
    transition-duration: 100ms !important;
}
#news div.d-flex > div.row .basis_close_btn:active,
#news div.d-flex > div.row .basis_edit_btn:active{
    transform: scale(0.5, 0.5);
    transition-duration: 0ms !important;
    transition-property: all;
}
#news div.d-flex > div.row:hover .basis_edit_btn {
    background: url('/static/svg/icon_edit.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.news_date{
    border: 1px solid black; 
    width: fit-content; 
    padding: 0 20px;
}
.news_edit_tools {
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.news_edit_tools > * {
    filter: opacity(100%) !important;
    /* width: 50px; */
}
/*форма новой новость */
#news_create_form{
    color: white;
}
/*форма изменить новость */
#news_create_form{
    color: white;
}

/* последняя новость блок */
.purple_gradient{
    background: linear-gradient(to top, #4b2067, #331648, #2C133E)
}
.lastNews { 
    background-color: none;
    /* background-color: #3f1c58; */
    /* background-color: #2C133E; */
    padding: 1%;
    color: white;
}
.lastNews>*{
margin: 0 auto;
 /* color: black; */
}
.lastNews_date{
    border: 1px solid black;
    width: fit-content;
    padding: 0 20px;
    background: white;
    color: black;
}
.lastNews img.img-fluid{
    /* width: 200px; */
    height: 120%;
    border-radius: 6px;
}

/*вопросы блок*/
#faq {
    padding: 120px 0;
}
/* header - меню */
.header_section{
    display: flex;
    background-color: #31123C;
    height: 6vh;
    padding: 0 10px;
    padding-left: 5vw;
}
.header_section>div{
    margin: 0;
}
.header_section>div>div{
    width: 90vw;
}
.webpage_name{ 
margin-left: 15%;
}

.header_color {
    color: white !important;
}
#navbarNavAltMarkup .navbar-nav a:hover {
    color: #e3be5b !important;
}

/* .basic_edit_btn{ 
    filter: opacity(30%);
    background: url(/static/svg/icon_edit_btn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
} */
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header_section:hover .basic_edit_btn{
    filter: opacity(100);
}
/* страница форма авторизации */
#login_form{
    text-align: center;
    color: white;
    padding-top: 10%; 
}
#login_form input:not(#login_form input:last-child){ 
    margin-bottom: 2%;
    width: 50%;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 12px;
    border: none;
}
#login_form input:last-child{
    margin-top: 5%;  
    width: 20%;
    letter-spacing: 5px;
    font-size: 1.5em;
    border: none;
    box-shadow: 1px 1px 5px 1px #2C133E;
}
#login_form input{
    margin: auto;
    box-shadow: 1px 1px 5px 1px #2C133E;
}
#login_form input:hover{
    box-shadow: 1px 1px 15px 5px #2C133E;
    transform: scale(1.1, 1.1);
}
#login_form input:focus{
    transform: scale(1.1, 1.1);
}


/* сообщения пользователю */
.login_msg, /* авторизация */
.actionNews_msg{ /* страница новости */
    color: rgb(211, 218, 1);    
    width: auto;
    height: 50px;
    margin: 2% auto;
}
/* авторизация */
/* .login_msg{
}
.actionNews_msg{
} */
/* страница новости */
/* создание новости */




