/* общие стили */
*{
    transition-duration: 300ms;
    transition-property: all;
}
.border_test{
    outline: 1px solid red;
}
.empty_schedule{
    display: none;
}
.db_none{
    display: none !important;
}
.pos_absolute{
    position: absolute;
}
.pos_relative{
    position: relative;
    text-align: right;
}
#img_close {
    display: none;
}
.basic_bg{ 
    background: url("../img/bg.svg") center no-repeat;}

/* стили кнопок */
.basis_close_btn{
    filter: opacity(30%);
    cursor: pointer;
    background: url('/static/svg/icon_exit_darkPurple.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-right: 10%;
    border: none;
}
.basis_edit_btn{
    filter: opacity(30%);
    cursor: pointer;
    background: url('/static/svg/icon_edit_darkPurple.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    border: none;
}
/* блок с преподавателями */
#teacher{
    padding: 120px 0;
    margin: 0;
    background-color: #2C133E;
    color: white;
    
}
div.card{
    border: none;
    font-size: 1.2em;
}
div.card h2{
    font-size: 1.8em;
}
.image_teacher{
    transform: translateX(-15px);
}
.teacher_base_card{
    background: white;
    width: 100%;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    border: 1px solid white;
    margin-bottom: 2%;
}
/* определение для страницы галерея */
div.photos>div:hover>button.basis_close_btn,
/* обычные ховера */
button.basis_edit_btn:hover,
button.basis_close_btn:hover
{
    filter: opacity(100%);
}
/* стили страниц */

/* перебор стилей style5.css */
/*Слайдер*/
#slider {
    background: url("../img/bg.svg") center no-repeat;
}
.pad_section_slider {
    padding: 5% 0;
}
/*медиа блок*/
#media {
    padding: 120px 0;
}
/* Расписание */
#table {
    padding: 100px 0;
    /* background-color: #2C133E; */
    background-color: none;
    color: white;
}
/* последняя новость блок */
.purple_gradient{
    background: linear-gradient(to top, #4b2067, #331648, #2C133E)
}
.lastNews { 
    background-color: none;
    /* background-color: #3f1c58; */
    /* background-color: #2C133E; */
    /* background-color: white; */
    padding: 1%;
    color: white;
    

}
.lastNews>*{
margin: 0 auto;
 /* color: black; */
}
.lastNews_date{
    border: 1px solid black;
    width: fit-content;
    padding: 0 20px;
    background: white;
    color: black;
}
.lastNews img.img-fluid{
    /* width: 200px; */
    height: 120%;
    border-radius: 6px;
}
/*вопросы блок*/
#faq {
    padding: 120px 0;
}
/* header - меню */
.header_section{
    display: flex;
    background-color: #31123C;
    height: 6vh;
    padding: 0 10px;
    padding-left: 5vw;
}
.header_section>div{
    margin: 0;
}
.header_section>div>div{
    width: 90vw;
}
.webpage_name{ 
margin-left: 15%;
}

.header_color {
    color: white !important;
}
#navbarNavAltMarkup .navbar-nav a:hover {
    color: #e3be5b !important;
}













.basic_edit_btn{ 
    filter: opacity(30%);
    background: url(/static/svg/icon_edit_btn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header_section:hover .basic_edit_btn{
    filter: opacity(100);
}

#login_form{
    text-align: center;
}
#login_form input:not(input:last-child){
    width: 200%;
}
#login_form input:last-child{
    margin-top: 15%;
}

/* .btn_exit_fix{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn_exit_fix p{
    position: absolute;
    transform: translateX(180px) translateY(10px);
    width: max-content;
} */

