/* стили для тестирования */
.b_test, .b_test>*, .b_test>*>*, .b_test>*>*>*, .b_test>*>*>*>*{
    outline: 1px solid red;
}
/* общие стили по тегам*/
html {scroll-behavior: auto !important;}
a {
    text-decoration: none;
    color: white;
}
body {    padding: 0 !important;    margin: 0 !important;}
/* универсальные стили */
.none_border{
    border-left: 1px solid transparent;
    background-color: red;
    visibility: hidden;
}
.static_h {
    min-height: 86vh;
    color: white;
}
.db_none {display: none !important;}
.pos_absolute {position: absolute;}
.pos_relative {
    position: relative;
    text-align: right;
}
#img_close {display: none;}
.basic_bg { 
    background: url("../img/bg.svg") center no-repeat;}
/* стили универсальных кнопок */
.basis_close_btn, 
.basis_edit_btn,
.replace_edit_btn {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.edit_tools{
    display: flex;
    justify-content: center;
    z-index: 5; 
}
.longBasisBtn{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    border: 1px solid white;
    /* border-radius: 12px; */
    width: fit-content;
    padding: 2%;
    color: white;
}

.basis_close_btn {
    background: url('/static/svg/icon_exit_darkPurple.svg');
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-left: 15px;
}
.basis_edit_btn {
    background: url('/static/svg/icon_edit_darkPurple.svg');
    width: 30px;
    height: 30px;
    margin-top: 5px;  
}
.replace_edit_btn {
    background: url('/static/svg/replaceIcon.svg');
    width: 30px;
    height: 30px;
    margin-top: 5px; 
}
/* блок слайдера с опросом  quiz_block.html */














/* header - верхнее меню */
.header_section{
    display: flex;
    background-color: #31123C;
    height: 6vh;
    padding: 0 5vw;
}
.header_section>div{
    margin: 0;
    padding: 0;
}
.header_section>div>div.row{
    width: 90vw;
    margin: 0;
    padding: 0;
}
.drone_logo {
    width: 60px;
    height: 30px;
}
.title_logo {
        justify-content: center;
        width: fit-content;
    }
/* верхнее меню при админ панеле */
.admin_header, .footer_item{
    filter: hue-rotate(60deg);
}
/* блок с преподавателями */
#teacher{
    padding: 120px 0;
    margin: 0;
    background-color: #2C133E;
    color: white;  
}
div.card{
    border: none;
    font-size: 1.2em;
}
div.card h2{font-size: 1.8em;}
.image_teacher{transform: translateX(-15px);}
.teacher_base_card{
    background: white;
    width: 100%;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    border: 1px solid white;
    margin-bottom: 2%;
}

/* инструменты редактирования и удаления */
/* медиа на главной */
/* новости */
.news_edit_tools {
    display: flex; 
    justify-content: end;
    align-items: baseline;
}
.news_edit_tools > * { filter: opacity(100%) !important;}
/* стили страниц */
/*Слайдер*/
#slider {background: url("../img/bg.svg") center no-repeat;}
.pad_section_slider {padding: 5% 0;}
/*медиа блок*/
#media {padding: 120px 0;}
/* Расписание */
#schedule {
    padding: 100px 0;
    /* background-color: #2C133E; */
    background-color: none;
    color: white;
}
.schedule{
    color: white;
    font-size: 1.5em;
    height: 86vh;
}
.galleryEvent{height: 86vh;}
/*страница новости */
#news div.d-flex > div.row{
    margin: 1%;
    padding: 1%; 
    color: black;
    border: 1px solid white;
    box-shadow: 3px 1px 15px 1px #4b2067 ;
    filter: brightness(90%) blur(0px);
    border-radius: 12px;
    background: white;
}
.news_image{
    padding: 0;
    margin: 0;
    max-height: 170px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 6px;    
    border: 1px solid white;
}
.news_image img {
    min-width: 300px;
    object-fit: cover;
    object-position: center; 
}
#news div.d-flex > div.row:hover{
    background: #4b2067;
    border: 1px solid white;
    color: white;
}
#news div.d-flex > div.row:hover .basis_close_btn {
    background: url('/static/svg/exit_icon_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#news div.d-flex > div.row:hover .basis_edit_btn {
    background: url('/static/svg/icon_edit.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.news_date{
    border: 1px solid black; 
    width: fit-content; 
    padding: 0 20px;
}
/*форма новой новость */
#news_create_form{
    color: white;
}
/*форма изменить новость */
#news_create_form{
    color: white;
}
/* последняя новость блок */
.purple_gradient{
    background: linear-gradient(to top, #4b2067, #331648, #2C133E)
}
.lastNews { 
    background-color: none;
    padding: 1%;
    color: white;
}
.lastNews>*{margin: 0 auto;}
.lastNews_date{
    border: 1px solid black;
    width: fit-content;
    padding: 0 20px;
    background: white;
    color: black;
}
.lastNews img.img-fluid{
    /* width: 200px; */
    height: 120%;
    border-radius: 6px;
}
/*вопросы блок*/
#faq {padding: 120px 0;}

.webpage_name{margin-left: 15%;}

.header_color {color: white !important;}
#navbarNavAltMarkup .navbar-nav a:hover {
    color: #e3be5b !important;
}
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header_section:hover .basic_edit_btn{
    filter: opacity(100);
}
/* страница форма авторизации */
#login_form{
    text-align: center;
    color: white;
    padding-top: 10%; 
}
#login_form input:not(#login_form input:last-child){ 
    margin-bottom: 2%;
    width: 50%;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 12px;
    border: none;
}
#login_form input:last-child{
    margin-top: 5%;  
    width: 20%;
    letter-spacing: 5px;
    font-size: 1.5em;
    border: none;
    box-shadow: 1px 1px 5px 1px #2C133E;
}
#login_form input{
    margin: auto;
    box-shadow: 1px 1px 5px 1px #2C133E;
}
#login_form input:hover{
    box-shadow: 1px 1px 15px 5px #2C133E;
    transform: scale(1.1, 1.1);
}
#login_form input:focus{
    transform: scale(1.1, 1.1);
}
/* сообщения пользователю */
.login_msg, /* авторизация */
.actionNews_msg{ /* страница новости */
    color: rgb(211, 218, 1);    
    width: auto;
    height: 50px;
    margin: 2% auto;
}
/* страница новости */
/* создание новости */
td.td_hover{
    opacity: 40%;
    background-color: #491c5a;
    transform: translateX(10px);
    font-weight: 200; 
}
#table:hover td.td_hover{
    opacity: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 8px 4px #200c27;
    transform:scale(0.9, 0.9) translateX(20px);
}
td.td_hover:hover{filter: brightness(2);}
td.td_hover:active{background: #380505;}
/* меню кнопок для админ панели */
.admin_tools{
    position: fixed;
    margin-bottom: 20px;
    height: 50px;
    margin: 20px;
}
#news > .container{padding-top: 50px;}
.my_add_btn_static{
    border: 1px solid transparent!important;
    background-color: #491c5a;
    color: white !important;
    font-weight: 200;
    letter-spacing: 2px;
    width: 10%
}
.my_add_btn_dynamic{
    border: 1px solid transparent!important;
    opacity: 40%;
    background-color: #491c5a;
    color: white;
    transform: scale(0.89, 1);
    font-weight: 200;
    letter-spacing: 4px;
    margin-top: 2%;
    padding: 1%;
    width: 50%
}
#table:hover button.my_add_btn_dynamic{
    box-shadow: 3px 3px 8px 4px #200c27;
    transform:scale(1.01, 1.01) ;
    opacity: 100%;
    cursor: pointer;
}
button.my_add_btn_dynamic:hover, button.my_add_btn_static:hover{
    filter: brightness(2);
}
button.my_add_btn_dynamic:active, button.my_add_btn_static:active{
    background: #380505!important;
}
.none_border_left_top_bottom{
    border: 1px solid transparent!important;
    width: 50px;
    border-right: 1px solid white!important;
}
.none_border_right_top_bottom{
    border: 1px solid transparent!important;
    width: 50px;
    border-left: 1px solid white!important;
}
.editor_hover{
    border: 1px solid transparent;
    margin-right: 5%;
}
 .editor_hover:hover{
    box-shadow: 3px 3px 8px 4px #200c27;
    border-radius: 6px;
    transform:scale(1.01, 1.01);
    text-shadow: 4px 4px 6px black;
    border: 1px solid #4c1f5e;
}


/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* ################################################## */
/* STYLE5 */
/* STYLE5 */
/* STYLE5 */
#info-vid {
    background: url("../img/bg-number2.png") center no-repeat;
    background-size: cover;
}
.card_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
    min-height: 400px;
}
.card_right p{
    text-align: justify;
}
.title_logo {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20pt !important;
}
.title_logo a{
    text-decoration: none;
    display: flex;
    color: white;
    align-items: center;
}
.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.telega_down {
    display: none;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #31123C;
    padding: 3px 6px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(221, 221, 221, 1);
}
#btn-back-to-top img {
    width: 30px;
    height: auto;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}
.custom_btn {
    width: 100%;
    border: 1px solid white;
    margin-top: 10px;
    background: none;
    padding: 10px;
    /*border-radius: 17px;*/
    color: white;
    transition: 0.8s;
}
.custom_btn:hover {
    background-color: white;
    color: #131313;
}
#form {
    display: none;
    border-radius: 20px;
}
.form_yandex {
    width: 100%;
    height: 100%;
}
/*Слайдер*/
.hr-line {
    margin: 20px auto;
    width: 10%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px solid #ff0000;
}
.custom_p {
    font-size: 13pt;
}
.fix-h {
    margin-bottom: 0;
    border-radius: 20px;
}
.video-container {
    padding-bottom: 1.5rem!important;
    height: 100%;
}
.video-container video{
    width: auto;
    height:100%;
    display: flex;
    align-items: center;
    object-fit: cover;
    background: #242025;
}
.fix-h-2 {
    height: 460px !important;
}
.fix-h-3 {
    height:580px;
}
.img_diplom {
    height: 26%;
    /*width: 100%;*/
    border-radius: 10px;
    margin-bottom: 20px;
}
#exampleModal {
    z-index: 9999;
    text-align: center;
}
.modal-dialog {
    max-width: none;
}
.modal-backdrop {
    z-index: 9997;
    --bs-backdrop-opacity: 0.9;
}
.card_fix_body {
    height: 210px !important;
}
.card_widget_info {
    color: white;
    background-color: transparent !important;
    border: 1px solid white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 100%;
}
.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #2C133E !important;
}
.accordion-button:focus {
    border-color: #2C133E;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../img/arrow_active.svg");
}
.remark_item_css {
    padding: 5px 10px 5px 10px;
    background-color: #2C133E;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 10pt;
}
.mb_item_ol li{
    margin-bottom: 8px;
}
.footer_item {
    background-color: #2C133E;
    color: white;
    padding: 20px 0;
    height: 8vh;
}
.flex_footer_cen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_footer_cen p{
    margin-bottom: 0;
}
.bg-body-tertiary {
    background-color: unset !important;
}
#navbarNavAltMarkup {
    justify-content: flex-end;
}
.navbar-toggler {
    border: 1px solid white !important;
    padding: 8px;
    /*padding: 6px;*/
    /*background-color: white;*/
}
.navbar-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: white;
    /*background-color: #2C133E;*/
    margin-bottom: 5px;
}
.navbar-toggler span:last-child {
    margin-bottom: 0;
}
.navbar-toggler-icon {
    height: 10px;
}
.navbar {
    --bs-navbar-toggler-icon-bg: url(../img/burger_white.svg);
}
.db_nao {
    display: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.accordion-body {
    border: 1px solid #2C133E;
}
.policy_check p {
    margin-left: 15px;
}
.table_policy tr td{
    border: 1px solid black;
    padding: 10px;
}
.link_policy {
    color: #e3be5b;
    text-decoration: none;
}
.link_policy:hover {
    text-decoration: underline;
}
.link_policy_back {
    border: 1px solid #e3be5b;
    padding: 10px;
    color: #e3be5b;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    transition: 0.8s;
}
.link_policy_back:hover {
    color: white;
    background-color: #e3be5b;
    cursor: pointer;
}
#info {
    padding: 60px 0;
    background-color: #2C133E;
    color: white;
}
.telega_invite {
    background-color: #0a53be;
    border: 1px solid #0a53be;
    padding: 10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: 0.8s;
}
@media (max-width: 1400px) {
    .card_fix_body {
        height: 230px !important;
    }
    .fix-h-3 {
        height:500px;
    }
}
@media (max-width: 1200px) {
    .card_fix_body {
        height: 180px !important;
    }
    .img_diplom {
        height: 30%;
    }
    .img_teacher {
        margin-top: 10px;
    }
    .fix-h-3 {
        height:420px;
    }
}
@media (max-width: 992px) {
    body {
        background-size: auto;
        height: auto;
    }
    .custom_btn {
        margin-bottom: 30px;
    }
    .card_right {
        justify-content: start;
        min-height: auto;
    }
    .db_yes{
        display: flex;
    }
    .db132{
        display: none;
    }
    .fix-w {
        width: 100% !important;
    }
    .flex-mob {
        display: flex;
    }
    .navbar-toggler {
        margin-left: 10px;
    }
}
@media (max-width: 575px) {
    .fix-mar {
        margin-left: 0;
        margin-right: 0;
    }

    .db_none {
        display: block
    }
    
    .pad_section_slider {
        padding: 10px 0 120px 0;
    }
    .card_fix_body {
        height: auto !important;
    }
    .img_diplom {
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .card_fix_body {
        height: auto !important;
    }
    .img_teacher {
         margin-top: 0;
    }
    .remark_item_css {
        margin-left: 2px;
    }
}
.table_rasp {
    display: flex;
    justify-content: center;
    border-spacing: 0px;
    border-collapse: collapse;
    color: white;
    text-align: center;
  }
  .table_rasp tr td {
   padding: 8px;
   border: 1px solid white;
  }
  .table_rasp tr th {
    padding: 8px;
    border: 1px solid white;
   }
.fix_bord {
    border: 0 !important;
}
.info_rasp_dop {
    background-color: white;
    color: #2C133E;
    font-weight: bold;
}
/* Расписание */
/* Стрница Галерии */
#galerry {
    padding: 60px 5%;
}
.photos div{
    padding-bottom:20px;
}
.photos div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.lessons_data {
    display: inline-block;
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #2C133E;
    padding: 5px 10px;
    border-radius: 10px;
}
/* Стрница Галерии */
/* Стрница Сборки */
#build {
    padding: 60px 5%;
}
.info_build {
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    color: white;
    background-color: #2C133E;
    margin-bottom: 30px;
}
.info_build p{
    margin: 0;
}
.info_build_drone {
    padding: 3%;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin-bottom: 30px;
    position: relative;
    height: auto;
}
.info_build_drone img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.verific_check {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 100;
    width: 50px !important;
    height: auto !important;
}
.box_shad {
    box-shadow: 0 0 12px 8px #2C133E;
    position: absolute;
    display: block;
    width: 35px !important;
    height: 35px !important;
    right: 7px;
    top: 7px;
    z-index: 50;
    border-radius: 100%;
}
.info_build_drone table thead tr th {
    vertical-align: top;
    text-align: start;
}
.link_det {
    text-decoration: none;
    color: #131313;
}
.link_det:hover {
    text-decoration: underline;
    color: #2C133E;
}
.info_build_drone table tbody tr th, .info_build_drone table tbody tr td {
    text-align: center;
    vertical-align: middle;
}
.c{
    text-align: center !important;
}
.cv {
    text-align: start !important;
}
.sum_bg th{
    background-color: #2C133E !important;
    color: white !important;
}
@media (max-width: 700px) {
    .scroll_x {
        display: block;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    .scroll_x::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(243, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f00000;
    }
}
.limp {
    position: absolute;
    top: 15px;
    right: 15px;
}
.dropmen {
    position: relative;
}
.tooltip-text {
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    top: -78px;
    border: 3px solid #30AA1C;
    right: -1px;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 700;
}
.arrow {
    display: none;
    position: absolute;
    border: 10px solid transparent; border-top: 10px solid #30AA1C;
    top: -10px;
    right: 15px;
}
.dropmen:hover .tooltip-text {
    display: flex;
}
.dropmen:hover .arrow {
    display: block;
}
.authors_build {
    margin-bottom: 0;
}
/* Стрница Сборки */
/* Страница Документы */
#sol {
    padding: 60px 0;
    background-color: #2C133E;
    color: white;
}
.photo_rz_cards img {
    display: none ;
    border-radius: 20px;
}
.test2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-group-text {
    border-radius: 0;
    background-color: #2C133E;
    color: white;
    /* border: 1px solid #0D6EFD; */
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}
.photo_rz_cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo_rz_cards p{
    background-color: white;
    color: #2C133E;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
    text-align: center;
}
#doc {
    padding: 60px 5%;
}
.type-document{
    width:100%;
    margin-bottom:20px;
}
.tabs-panel .panel-body {
  padding: 20px 15px 15px 15px;
  font-size: 14px;
}
.tab-content {
  background-color: #fff;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}
.document {
  float: left;
  width: calc(33% - 20px);
  margin: 0px 10px 20px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dce2e9;
}
.document .document-body {
  height: 130px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  background-color: #fdfdfe;
}
.document .document-body i {
  font-size: 45px;
  line-height: 120px;
}
.document .document-body img {
  width: 100%;
  height: 100%;
}
.document .document-footer {
  border-top: 1px solid #ebf1f5;
  height: 46px;;
  padding: 5px 12px;
  border-radius: 0 0 2px 2px;
}
.document .document-footer .document-name {
  display: block;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  line-height: normal;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.document .document-footer .document-description {
  display: block;
  margin-top: -1px;
  font-size: 11px;
  font-weight: 600;
  color: #8998a6;
  width: 100%;
  line-height: normal;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.document.word .document-footer >*, .document.excel .document-footer >*,
.document.power .document-footer >*, .document.pdf .document-footer >*,
.document.other .document-footer >* {
  color: #fff;
}
.document.word .document-footer, .icon-name .word {
  background-color: #2da9e9;
}
.document.excel .document-footer, .icon-name .excel {
  background-color: #0ec8a2;
}
.document.power .document-footer, .icon-name .power {
  background-color: #ff9e2a;
}
.document.pdf .document-footer, .icon-name .pdf{
  background-color: #f95858;
}
.document.other .document-footer, .icon-name .other{
  background-color: #314557;
}
.bi-file-earmark-pdf {
    color: #f95858;
}
.bi-file-earmark-word {
    color: #2da9e9;
}
.bi-file-earmark-ppt {
    color: #ff9e2a;
}
.bi-file-earmark-excel {
    color: #0ec8a2;
}
.bi-file-earmark {
    color: #314557;
}
#doc .container .row .tach {
    padding: 20px !important;
  }
@media screen and (max-width: 770px) {
  .document  {
    width: 100%;
    margin: 10px 0;
    max-width: none;
  }
}
.bg_show {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.db_none_doc {
    display: none;
}
.show {
    display: block !important;
}
#doc .container .row .col-sm-4 .panel .panel-body .nav .nav-link{
    color: #212529;
    text-align: start;
}
#doc .container .row .col-sm-4 .panel .panel-body .nav .active{
    background-color: #31123C !important;
    color: white;
}
@media screen and (max-width: 575px) {
    .fix_pd  {
      padding: 0 !important;
    }
}
.goof {
  width: 50px;
  height: 50px;
}
.documents .panel-body .tab-pane a:hover .document{
    transform: scale(0.9);
}
.telegram_header a{
    background-color: white !important;
    padding: 5px;
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.telegram_header a img{
   margin-right: 5px;
   width: 18px;
   height: auto;
}
