/* общие стили */
*{
    transition-duration: 300ms;
    transition-property: all;
}
.empty_schedule{
    display: none;
}
.db_none {
    display: none;
}
#img_close {
    display: none;
}
.basic_bg{ 
    background: url("../img/bg.svg") center no-repeat;}

/* перебор стилей style5.css */
/*Слайдер*/
#slider {
    background: url("../img/bg.svg") center no-repeat;
}
.pad_section_slider {
    padding: 120px 0;
}
/*медиа блок*/
#media {
    padding: 120px 0;
}
/*преподаватели блок*/
#teacher {
    padding: 120px 0;
    background-color: #2C133E;
    color: white;
}
/*вопросы блок*/
#faq {
    padding: 120px 0;
}
/* header - меню */
.header_section{
    display: flex;
    background-color: #31123C;
    height: 6vh;
    padding: 0 10px;
    padding-left: 5vw;
}
.header_section>div{
    margin: 0;
}
.header_section>div>div{
    width: 90vw;
}
.webpage_name{ 
margin-left: 15%;
}

.header_color {
    color: white !important;
}
#navbarNavAltMarkup .navbar-nav a:hover {
    color: #e3be5b !important;
}













.basic_edit_btn{ 
    filter: opacity(30%);
    background: url(/static/svg/icon_edit_btn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header_section:hover .basic_edit_btn{
    filter: opacity(100);
}
/* модальное окно */
.basic_modal{ /* контейнер для всплывающего окна */
    z-index: 2!important;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: flex;
    align-items: center; /* для родителя по одной оси */
    justify-content: center; /* для родителя по второй оси */
    flex-direction: row; 
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.modal_block{ /* блок модального окна */
    display: flex;
    flex-direction: column;
    z-index: 3!important;
    width: 40%;
    height: 50%;
    border-radius: 6px;
    border: 1px solid #4d1e5e;
    background: #31123C;
    box-shadow: 2px 2px 15px 5px #200c27;
}
#login_form{
    text-align: center;
}
#login_form input:not(input:last-child){
    width: 200%;
}
#login_form input:last-child{
    margin-top: 15%;
}
.modal_content form input:not(.modal_content form input:last-child){
    border: none;
    border-radius: 6px;
    min-height: 50px;
    max-height: 100px;
}
.modal_header{ /* блок управление модального окна (выход и заголовок) */
    padding: 2% 6%;
    display: flex;
    justify-content: space-between; /* разводит элементы по сторонам через центр */
    font-size: 2em;
    color: white!important;
}
.modal_btn_close{
    filter: opacity(30%);
    cursor: pointer;
    background: url('/static/svg/exit_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.modal_header:hover .modal_btn_close{
    filter: opacity(100%);
}
.modal_content{ /* блок с содержимым (зависит от действий пользователя) */
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-content: start;
    align-items: flex-start;
    margin: auto;
    padding: 5% 10%;
    transform: translateY(-5%);
}
.modal_content h4{
    color: white!important;
}
.modal_content select{ 
    height: 50px;
    border-radius: 6px;
}
.modal_content form>*{
    margin-bottom: 5%;
    width: 100%;
}
.modal_content select:hover, .modal_submit:hover{
    color: goldenrod!important;
}
.modal_submit{
    height: 50px;
    font-size: 1.5em;
    width: 25%;
    border-radius: 6px;
}
.modal_content form{
    display: flex;
    align-items: center; /* для родителя по другой оси */
    justify-content: center; /* для родителя по одной оси */
    flex-direction: column;
}
.btn_exit_fix{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn_exit_fix p{
    position: absolute;
    transform: translateX(180px) translateY(10px);
    width: max-content;
}
.modal_content *{
    color: black!important;
}
.modal_exit>p{
    align-self: self-end;
    margin-left: 10%;
}
.modal_exit>*{
    color: white;
    cursor: pointer;
}
.close_modal{
    display: none!important;
}
.modal_elem{
    width: 90%;
    margin: 3%;
    align-self: center;
}
.modal_elem:last-child{
    margin-top: 20%;
    width: 40%;
    align-self: flex-start;
}
.modal_form>fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
}
.modal_message_content button{
    background: none;
    border: none;
}
.modal_message_content button:hover{
    color:goldenrod !important; 
}
.modal_message_content{
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    z-index: 3!important;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    border: 1px solid #4d1e5e;
    background: #31123C;
    box-shadow: 2px 2px 15px 5px #200c27;
    font-size: 2em; 
}
.modal_message_content>div>div{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
