/* общие стили */
*{
    transition-duration: 300ms;
    transition-property: all;
    /* color: white!important; */
    /* outline: 1px solid red; */
    /* margin: 0 auto; */
}













/* .editor_hover{
    border: 1px solid transparent;
    margin-right: 5%;
} */
/* .editor_hover:hover{
    box-shadow: 3px 3px 8px 4px #200c27;
    border-radius: 6px;
    transform:scale(1.01, 1.01);
    text-shadow: 4px 4px 6px black;
    border: 1px solid #4c1f5e;
} */
.My_D_none{
    display: none;
}
/* .My_D_block{
    display: block;
} */
/* перебор стилей сайта */

.basic_bg{ /* стандартный фон везде */
    background: url("../img/bg.svg") center no-repeat;}
/* header - меню */
.header_section{ /* класс меню сайта */
    /* padding: 0 20vw; */
    display: flex;
    background-color: #31123C;
    height: 6vh;
    padding-left: 5vw;
}
.header_section>div{
    margin: 0;
}
.header_section>div>div{
    width: 90vw;
}
.webpage_name{ /* заголовок страницы */
margin-left: 15%;
}
.basic_edit_btn{ /* кнопка редактирования элемента */
    filter: opacity(30%);
    background: url(/static/svg/icon_edit_btn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    /* color: white; */
    border: none;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
.dragstart{
    /* display: none; */
    /* background: red; */
    opacity: 20%;
}
.drug_item_enter{
    background: red;
}
.drug_select{
    margin-right: 50px;
    margin-left:  50px;
}
#move_item_btn{
    z-index: -1;
}
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.editable_block{
    position: relative;
}
.editable_block:hover .edit_tools{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.edit_tools{ /* всплывающие кнопки для редактирования */
    flex-direction: row;
    display: none;
    position: absolute;
    margin-top: -50px;
}
.edit_tools button{ 
    width: 25px;
    height: 25px;
    background: none;
    border: none;
}
#delete_item_btn{
    background: url('/static/svg/exit_icon_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
#move_item_btn{
    background: url('/static/svg/move_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
#edit_item_btn{
    background: url('/static/svg/edit_icon_light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
.header_section:hover .basic_edit_btn{
    filter: opacity(100);
}

.my_a_link{ /* поправка ссылки входа в меню сайта */
/* margin-left: 30%; */
/* text-decoration: none; */
}
/* .webpage_links_fix{
    margin-top: 5%;
} */
/* модальное окно */
.basic_modal{ /* контейнер для всплывающего окна */
    z-index: 2!important;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: flex;
    align-items: center; /* для родителя по одной оси */
    justify-content: center; /* для родителя по второй оси */
    flex-direction: row; 
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.modal_block{ /* блок модального окна */
    display: flex;
    flex-direction: column;
    z-index: 3!important;
    width: 40%;
    height: 50%;
    border-radius: 6px;
    border: 1px solid #4d1e5e;
    background: #31123C;
    box-shadow: 2px 2px 15px 5px #200c27;
}
.modal_form_align_center{
    text-align: center;
}
.modal_header{ /* блок управление модального окна (выход и заголовок) */
    padding: 2% 6%;
    display: flex;
    justify-content: space-between; /* разводит элементы по сторонам через центр */
    font-size: 2em;
}
.modal_btn_close{
    filter: opacity(30%);
    cursor: pointer;
    background: url('/static/svg/exit_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.modal_header:hover .modal_btn_close{
    filter: opacity(100%);
}
.modal_content{ /* блок с содержимым (зависит от действий пользователя) */
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 5% 10%;
    transform: translateY(-5%);
}
.modal_content h4{
    color: white!important;

}

.modal_content select{
   
    height: 50px;
    border-radius: 6px;
}
.modal_content form>*{
    margin-bottom: 5%;
    width: 100%;
}

.modal_content select:hover, .modal_submit:hover{
    color: goldenrod!important;
}
.modal_submit{
    height: 50px;
    font-size: 1.5em;
    width: 25%;
    border-radius: 6px;
}
.modal_content form{
    display: flex;
    align-items: center; /* для родителя по другой оси */
    justify-content: center; /* для родителя по одной оси */
    flex-direction: column;
}

.btn_exit_fix{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn_exit_fix p{
    position: absolute;
    transform: translateX(180px) translateY(10px);
    width: max-content;
}
.modal_content *{
    color: black!important;
}
.modal_content form input:not(.modal_content form input:last-child){
    border: none;
    border-radius: 6px;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
}
.modal_exit>p{
    align-self: self-end;
    margin-left: 10%;
}
.modal_exit>*{
    color: white;
    cursor: pointer;
}
.close_modal{
    display: none!important;
}

.modal_elem{
    width: 90%;
    margin: 3%;
    align-self: center;
}
.modal_elem:last-child{
    margin-top: 20%;
    width: 40%;
    align-self: flex-start;
}
.modal_form>fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
}

.modal_message_content button{
    background: none;
    border: none;
}
.modal_message_content button:hover{
    color:goldenrod !important;
    
}
.modal_message_content{
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    z-index: 3!important;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    border: 1px solid #4d1e5e;
    background: #31123C;
    box-shadow: 2px 2px 15px 5px #200c27;
    font-size: 2em;
    
}
.modal_message_content>div>div{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* страница с содержимым */
.main_space{ /* основная подложка для блоков */
    /* padding: 5vh 10vw;
    height: 84vh;
    display: flex;
    justify-content: center; */
}
.add_new_mainblock{
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #4d1e5e;
    border-radius: 6px;
    height: 100px;
    cursor: pointer;
    color: white; */
}
.add_new_mainblock p {
    /* font-size: 2em;
    text-align: center; */
}
.add_new_mainblock:hover p {
    /* font-size: 2em;
    text-align: center; */
}
.footer_item{
    height: 10vh;
}
