<!--   Секция медиа-->
  <section id="media">
    <div class="container">
      <div class="text-center">
        <h2 class="mb-3">Медиа контент</h2>
        <hr class="hr-line">
        <p class="mb-5 custom_p">Наши преподаватели ездили на закрытый аэродром Российского высшего учебного заведения "Московский авиационный институт".
          <br> Ниже представлены фотогалерея и медиа с курсов повышения квалификации преподавателей</p>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-lg-0 media_hover">
          <div>
            {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
            <img
            data-src="{{url_for('static', filename='img/img1.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"

            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
            
          </div>
          <div>
            {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
            <img

            data-src="{{url_for('static', filename='img/img2.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
          </div>
          <div>
            {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
            <img
            data-src="{{url_for('static', filename='img/img13.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
          </div>
        </div>
        <div class="col-lg-8 mb-lg-0 media_hover">
          <div class="video-container">
            {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
            <video src="{{url_for('static', filename='img/fpv1.mp4')}}" class="w-100 shadow-1-strong rounded fix-h" loop autoplay muted></video>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 mb-lg-0">
          <div class="row media_hover">
              <div class="col-lg-6 col-md-12 mb-lg-0">
                {% if current_user.is_authenticated == True %}
                <div class="col edit_tools media_tools">
                    <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                    <a class="basis_close_btn" href="/actions_news/delete/"></a>
                </div>
                {% endif %}
                <img
                  data-src="{{url_for('static', filename='img/img6.webp')}}"
                  class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                  alt="Boat on Calm Water"
                  onclick="LinkFull(this.src)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                />
              </div>
              <div class="col-lg-6 mb-lg-0">
                {% if current_user.is_authenticated == True %}
                <div class="col edit_tools media_tools">
                    <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                    <a class="basis_close_btn" href="/actions_news/delete/"></a>
                </div>
                {% endif %}
                <img
                  data-src="{{url_for('static', filename='img/img7.webp')}}"
                  class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                  alt="Boat on Calm Water"
                  onclick="LinkFull(this.src)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                />
              </div>
            </div>
          <div class="col-lg-12 col-md-12 mb-lg-0">
            <div class="video-container fix-h-3 media_hover">
                {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
              <video src="{{url_for('static', filename='img/fpv2.mp4')}}" class="w-100 shadow-1-strong rounded fix-h" loop autoplay muted></video>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-lg-0 media_hover">
                {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
              <img
                data-src="{{url_for('static', filename='img/img9.webp')}}"
                class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                alt="Фото_8"
                onclick="LinkFull(this.src)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              />
            </div>
            <div class="col-lg-6 col-md-12 mb-lg-0 media_hover">
                {% if current_user.is_authenticated == True %}
            <div class="col edit_tools media_tools">
                <a class="basis_edit_btn" href="/actions_news/update/msg/"></a> 
                <a class="basis_close_btn" href="/actions_news/delete/"></a>
            </div>
            {% endif %}
              <img
                data-src="{{url_for('static', filename='img/img11.webp')}}"
                class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                alt="Фото_8"
                onclick="LinkFull(this.src)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-lg-0">
          <div class="col-lg-12 mb-lg-0">
            <img
              data-src="{{url_for('static', filename='img/img3.webp')}}"
              class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
              alt="Waves at Sea"
              onclick="LinkFull(this.src)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
            <img
              data-src="{{url_for('static', filename='img/img10.webp')}}"
              class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
              alt="Фото_8"
              onclick="LinkFull(this.src)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
            <img
              data-src="{{url_for('static', filename='img/img8.webp')}}"
              class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
              alt="Фото_8"
              onclick="LinkFull(this.src)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-lg-0">
          <img
            data-src="{{url_for('static', filename='img/img5.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
          <img
            data-src="{{url_for('static', filename='img/img12.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
        </div>
        <div class="col-lg-8 mb-lg-0">
          <div class="video-container">
            <video src="{{url_for('static', filename='img/fpv3.mp4')}}" class="w-100 shadow-1-strong rounded fix-h fix-bg" height="100px" loop autoplay muted></video>
          </div>
        </div>
    </div>
    <!--   Секция медиа-->
  </section>
  <section class="dark-grey-text text-center p-4" id="info-vid">
    <div class="container my-5">
    <h2 class="mb-5 text-white">Присоединяйся к нам!</h2>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">20</p>
          <h5 class="black-text mb-0 h6">единиц оборудования <br>для пилотирования</h5>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">8</p>
          <h5 class="black-text mb-0 h6">студентов уже попробывали <br>себя в пилотировании</h5>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">4</p>
          <h5 class="black-text mb-0 h6">педагога уже в ЯМК <br>и готовы обучать вас</h5>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">2</p>
          <h5 class="black-text mb-0 h6">раза участвовали в конкурсах<br> по пилотированию</h5>
        </div>
      </div>
    </div>
    </div>
  </section>