<section id="table">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">{{scheduleInfo['sectionTitle']}}</h2>
        <hr class="hr-line">
        <p class="custom_p">{{scheduleInfo['sectionDesc']}}</p>
        <table class="table_rasp">
          <tr>
            <th class="none_border_left_top_bottom"></th>
            <th class="">День недели</th>
            <th>Время начала занятия</th>
            <th>Время завершения занятия</th>
            <th>Место проведения</th>
            <th class="none_border_right_top_bottom"></th>
              <th class="none_border_right_top_bottom"></th>
          </tr>
          <tr id="empty_schedule" class="empty_schedule">
                <td class="none_border_left_top_bottom"></td>
                <td id="scheduleDayName"></td>
                <td id="scheduleStart"></td>
                <td id="scheduleEnd"></td>
                <td id="scheduleLocation"></td>
<!--             инстурменты редактирования для данного блока-->
                {% if edit_tools == True %}
                <td class="none_border_right_top_bottom td_hover" data-action="edit_scheduleDay">ред</td>
                <td class="none_border_right_top_bottom td_hover"><a href="/admin_panel#table"></a></td>
                {% endif %}
            </tr>
        {% for day in scheduleDays %}
            <tr data-scheduleDay-id="{{day['id']}}">
                <td class="none_border_left_top_bottom"></td>
                <td id="scheduleDayName">{{day['day']}}</td>
                <td id="scheduleStart">{{day['start']}}</td>
                <td id="scheduleEnd">{{day['end']}}</td>
                <td id="scheduleLocation">{{day['location']}} </td>
<!--             инстурменты редактирования для данного блока-->
                {% if edit_tools == True %}
                <td class="none_border_right_top_bottom td_hover" data-action="edit_scheduleDay">ред</td>
                <td class="none_border_right_top_bottom td_hover"><a href="/deleteScheduleDay/{{day['id']}}">del</a></td>
                {% endif %}
            </tr>
            
        {% endfor %}
            {% if edit_tools == True %}
            <tr> 
                 <!-- блок для пустого расписания  -->
                <td class="none_border_left_top_bottom" ></td>
                <td colspan="4" class="" ><button class="my_add_btn_dynamic" data-modal="scheduleDay_add">добавить день</button></td>
            </tr>
            {% endif %}
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr class="">
            <td class="none_border_left_top_bottom "></td>
            <td colspan="4" class="info_rasp_dop ">{{scheduleInfo['sectionReq']}}</td>
            <td class="none_border_right_top_bottom"></td>
          </tr>
        </table>
      </div>
  </div>
</section>