<section id="teacher">
      <div class="container">

        <div class="row">
          <div class="text-center">
            <h2 class="mb-3">Преподаватели</h2>
            <hr class="hr-line">
            <p class="mb-5 custom_p">Наши профессиональные инструкторы будут рядом с вами, чтобы помочь вам освоить основы управления дронами.
              <br> Они имеют богатый опыт в полетах на FPV-дронах и готовы поделиться своими знаниями и секретами</p>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">
            <img data-src="{{url_for('static', filename='img/diplom1.webp')}}" alt="" class="img-fluid img_diplom fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">

              <img data-src="{{url_for('static', filename='img/teacher1.webp')}}" alt="a snow-capped mountain range img_teacher" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Смолькин Никита Николаевич</h2>
                <p class="card-text">Управление БПЛА стало для меня любимым занятием&#128579;</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">
            <img data-src="{{url_for('static', filename='img/diplom3.webp')}}" alt="" class="img-fluid img_diplom fsi lazy"  onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">
              <img data-src="{{url_for('static', filename='img/teacher2.webp')}}" alt="a snow-capped mountain range img_teacher" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Рыбин Юрий Иванович</h2>
                <p class="card-text">Управление БПЛА для меня и работа, и наслаждение&#128526;</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">
            <img data-src="{{url_for('static', filename='img/diplom2.webp')}}" alt="" class="img-fluid img_diplom img_teacher fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">
              <img data-src="{{url_for('static', filename='img/teacher3.webp')}}" alt="a snow-capped mountain range" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Чесноков Андрей Юрьевич</h2>
                <p class="card-text">Управление БПЛА стало для меня новым увлекательным занятием &#128521;</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">
            <img data-src="{{url_for('static', filename='img/diplom4.webp')}}" alt="" class="img-fluid img_diplom img_teacher fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">
              <img data-src="{{url_for('static', filename='img/teacher5.webp')}}" alt="a snow-capped mountain range" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Александр Захаров Владимирович</h2>
                <p class="card-text">Управление БПЛА стало для меня любимым хобби &#128064;</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>