<section id="teacher">
      <div class="container d-flex flex-column">
        
        <div class="text-center">
            <h2 class="mb-3">Преподаватели</h2>
            <hr class="hr-line">
            <p class="mb-5 custom_p">Наши профессиональные инструкторы будут рядом с вами, чтобы помочь вам освоить основы управления дронами.
                <br> Они имеют богатый опыт в полетах на FPV-дронах и готовы поделиться своими знаниями и секретами</p>
        </div>

        <div class="row d-flex align-items-center teacher_base_card flex-row">
            <div class="col-3 image_teacher">
                <img  data-src="{{url_for('static', filename='img/teacher1.webp')}}" alt="a snow-capped mountain range" class="img-fluid fsi lazy"/>
            </div>
            <div class="col ">
                <div class="card">
                    <div class="card-body card_fix_body card_body_teacher">
                        <h2 class="card-title">Смолькин Никита Николаевич</h2>
                        <p class="card-text">Управление БПЛА стало для меня любимым занятием&#128579;</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img data-src="{{url_for('static', filename='img/diplom1.webp')}}" alt="" class="img-fluid fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">   
            </div>
        </div>
        <div class="row d-flex align-items-center teacher_base_card flex-row">
            <div class="col-3 image_teacher">
                <img  data-src="{{url_for('static', filename='img/teacher1.webp')}}" alt="a snow-capped mountain range" class="img-fluid fsi lazy"/>
            </div>
            <div class="col ">
                <div class="card">
                    <div class="card-body card_fix_body card_body_teacher">
                        <h2 class="card-title">Смолькин Никита Николаевич</h2>
                        <p class="card-text">Управление БПЛА стало для меня любимым занятием&#128579;</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img data-src="{{url_for('static', filename='img/diplom1.webp')}}" alt="" class="img-fluid fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">   
            </div>
        </div>
        
        
          
          <!-- <div class="row" style="margin: 1%; border: 1px solid black;">
            <div class="col" data-image_id="" >
                <img src="" class="" alt="..." width="300px">
            </div>
            <div class="col">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p style="border: 1px solid black; width: fit-content; padding: 0 20px;"></p>
                <a href="/news" class="btn btn-light">Узнать больше</a>
            </div>
        </div> -->

<!--          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">-->
<!--            <img data-src="{{url_for('static', filename='img/diplom3.webp')}}" alt="" class="img-fluid img_diplom fsi lazy"  onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--            <div class="card">-->
<!--              <img data-src="{{url_for('static', filename='img/teacher2.webp')}}" alt="a snow-capped mountain range img_teacher" class="lazy"/>-->
<!--              <div class="card-body card_fix_body">-->
<!--                <h2 class="card-title">Рыбин Юрий Иванович</h2>-->
<!--                <p class="card-text">Управление БПЛА для меня и работа, и наслаждение&#128526;</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">-->
<!--            <img data-src="{{url_for('static', filename='img/diplom2.webp')}}" alt="" class="img-fluid img_diplom img_teacher fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--            <div class="card">-->
<!--              <img data-src="{{url_for('static', filename='img/teacher3.webp')}}" alt="a snow-capped mountain range" class="lazy"/>-->
<!--              <div class="card-body card_fix_body">-->
<!--                <h2 class="card-title">Чесноков Андрей Юрьевич</h2>-->
<!--                <p class="card-text">Управление БПЛА стало для меня новым увлекательным занятием &#128521;</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">-->
<!--            <img data-src="{{url_for('static', filename='img/diplom4.webp')}}" alt="" class="img-fluid img_diplom img_teacher fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--            <div class="card">-->
<!--              <img data-src="{{url_for('static', filename='img/teacher5.webp')}}" alt="a snow-capped mountain range" class="lazy"/>-->
<!--              <div class="card-body card_fix_body">-->
<!--                <h2 class="card-title">Александр Захаров Владимирович</h2>-->
<!--                <p class="card-text">Управление БПЛА стало для меня любимым хобби &#128064;</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        <!-- </div> -->
      </div>
    </section>