<!--<?php  include 'header.php'; ?>-->
{% extends 'base.html' %}
{% block content %}


<section id="sol">
  <div class="container">
    <div class="row">
    <div>
        <h2 class="mb-3 text-center">Разрешения</h2>
        <hr class="hr-line text-center">
        <p class="custom_p text-center">Давайте проверим, какие правила будут действовать для вас и вашего БПЛА</p>
        <form id="formsol">
          <div class="row">
          <div class="col-lg-6 mb-3">
            <div class="form-group mb-3">
              <label class="text-left mb-1">Мой БПЛА весит</label>
              <div class="input-group">
                <input type="number" min="1" max="10000000" class="form-control" placeholder="1200" name="weight" required>
                <div class="input-group-prepend">
                  <div class="input-group-text">грамм</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
            <label class="text-left mb-1">Я буду летать</label>
              <select class="form-control" name="area">
                <option selected>В населенном пункте</option>
                <option>Вне населенного пункта</option>ывм
                <option>Вблизи аэродрома</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Проверить</button>
          </div>
          <div class="col-lg-6 photo_rz_cards">
            <img src="img/rz1.png" alt="" class="img-fluid" id="rap1" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)">
            <img src="img/rz2.png" alt="" class="img-fluid" id="rap2" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)">
            <img src="img/rz3.png" alt="" class="img-fluid" id="rap3" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)">
            <img src="img/rz4.png" alt="" class="img-fluid" id="rap4" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)">
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>







<!-- <section id="doc">
<div class="container">
  <div class="row">
    st___Меню с названиями тем___
    <div class="col-sm-4 col-md-3 mb-3 fix_pd">
      <div class="panel tab-content tabs-panel bg_show">
        <div class="panel-body">
            <div class="icon-name mb-2">
              <span class="badge excel">Excel</span>
              <span class="badge word">Word</span>
              <span class="badge power">PowerPoint</span>
              <span class="badge pdf">PDF</span>
              <span class="badge other">Other</span>
            </div>
            <h4 class="no-margin-top">Темы</h4>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Раздел 1</button>
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Раздел 2</button>
              <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Раздел 3</button>
              <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Раздел 4</button>
            </div>
        </div>
      </div>
    </div>
    en___Меню с названиями тем___

    st___Меню с документами___ 
    <div class="col-sm-8 col-md-9 tab-content bg_show tach">
      <div class="documents documents-panel">
        <div class="panel-body" id="v-pills-tabContent">
        st___Тело 1___
          <div class="tab-pane fade show active db_none_doc" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            Документ-1 
            <a href="" download>
              <div class="document word">
                <div class="document-body">
                <i class="bi bi-file-earmark-word"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> Регламент занятий в ЯМК </span>
                  <span class="document-description"> 1.6 Mb </span>
                </div>
              </div>
            </a>
            Документ-1

            Документ-2
            <a href="" download>
              <div class="document pdf">
                <div class="document-body">
                  <i class="bi bi-file-earmark-pdf"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> План полетов </span>
                  <span class="document-description"> 2 Mb </span>
                </div>
              </div>
            </a>
            окумент-2
            
            Документ-3
            <a href="" download>
              <div class="document power">
                <div class="document-body">
                <i class="bi bi-file-earmark-ppt"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> Воздушный кодекс </span>
                  <span class="document-description"> 1.1 Mb </span>
                </div>
              </div>
            </a>
              Документ-3  

            
              Документ-4  
            <a href="" download>
              <div class="document pdf">
                <div class="document-body">
                  <i class="bi bi-file-earmark-pdf"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> Поставщики </span>
                  <span class="document-description"> 1.8 Mb </span>
                </div>
              </div>
            </a>
              Документ-4  

            
              Документ-5  
            <a href="" download>
              <div class="document excel">
                <div class="document-body">
                  <i class="bi bi-file-earmark-excel"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> Документ об образовании </span>
                  <span class="document-description"> 3 Mb </span>
                </div>
              </div>
            </a>
              Документ-5  
            
          </div>
         en___Тело 1___  

         st___Тело 2___  
          <div class="tab-pane fade db_none_doc" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              Документ-1  
            <a href="" download>
              <div class="document word">
                <div class="document-body">
                  <i class="bi bi-file-earmark-word"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> Документ Word №3 </span>
                  <span class="document-description"> 0.2 Mb </span>
                </div>
              </div>
            </a>
              Документ-1  
          </div>
         en___Тело 2___  

         st___Тело 3___  
          <div class="tab-pane fade db_none_doc" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              Документ-1  
            <a href="" download>
              <div class="document other">
                <div class="document-body">
                <i class="bi bi-file-earmark"></i>
                </div>
                <div class="document-footer">
                  <span class="document-name"> Документ другого формата </span>
                  <span class="document-description"> 0.2 Mb </span>
                </div>
              </div>
            </a>
            Документ-1
          </div>
        en___Тело 3___
          
        st___Тело 4___
          <div class="tab-pane fade db_none_doc" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            
          </div>
        en___Тело 4___
        </div>
      </div>
    </div>
    en___Меню с документами___
  </div>
</div>

</section> -->


{% endblock %}
<!--<?php  include 'footer.php'; ?>-->