{% extends 'base/admin_base.html' %}
{% block content %}
<section class="galleryEvent basic_bg w-100">
    <div class="container">
        <div class="flex-row d-flex align-items-center justify-content-center">
   
                <form id="galleryEvent_form" action="/" method="post" enctype="multipart/form-data">
                <form id="galleryEvent_form" action="/" method="post" enctype="multipart/form-data">
                    
                    <div class="row">
                        <p class="col">Укажите дату</p>
                        <input id="galleryEvent_date" class="col" type="date">
                    </div>
                    <div class="row">
                        <p class="col">Укажите дату</p>
                        <input id="galleryEvent_date" class="col" type="date" value="{{}}">
                    </div>
                    <div class="row">
                        <p class="col">Укажите заголовок</p>
                        <input id="galleryEvent_title" class="col" type="text">
                    </div>
                    <div class="row">
                        <p class="col">Укажите заголовок</p>
                        <input id="galleryEvent_title" class="col" type="text" value="{{}}">
                    </div>
                    <div class="row">
                        <p class="col">добавить фото</p>
                        <input class="col text-light" style="width: 500px !important; color: white!important"  multiple type="file">
                    </div>
                    <!-- тут в цикле выводить картинки списком чтобы редактровать -->
                    <div class="row">
                        <p class="col">изменить галерею</p>
                        <input class="col text-light" style="width: 500px !important; color: white!important"  multiple type="file">
                    </div>
                </form>
                <div class="d-flex justify-content-center">
                    <input class="modal_submit" type="button" value="Создать">
                </div>
                <div class="d-flex justify-content-center">
                    <input class="modal_submit" type="button" value="Изменить">
                </div>
            <!-- </div> -->
        </div>  
    </div>
    <div class="container ">
        <!-- список со списком и в цикле -->
        <div id="images_modal_preview" class="flex-column d-flex">
            <div id="img_container" class="db_none flex-row item d-flex justify-content-start align-items-center">
                <p></p>
                <!-- <img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src=""> -->
                <button id="galleryEventImg_deLInput" class="basis_close_btn"></button>
            </div>
        </div>
    </div>
</section>

{% endblock %}   