{% extends 'base/admin_base.html' %}
{% block content %}
<section class="static_h basic_bg">
    <div class="container">
        <div class="pt-5">
            <form action="/createGalleryEvent_action" method="post" enctype="multipart/form-data">
                <div class="row">
                    <p class="col">Укажите дату</p>
                    <input name="date" class="col" type="date">
                </div>
                <div class="row">
                    <p class="col">Укажите заголовок</p>
                    <input name="title" class="col" type="text">
                </div>
                <div class="row">
                    <p class="col">добавить фото</p>
                    <input name="files" class="col text-light"  multiple type="file">
                </div>
                <div class="d-flex justify-content-center">
                    <input class="modal_submit" type="submit" value="Создать">
                </div>
            </form>
        </div>  
    </div>
    <!-- <div class="container "> -->
        <!-- список со списком и в цикле -->
        <!-- <div id="images_modal_preview" class="flex-column d-flex">
            <div id="img_container" class="db_none flex-row item d-flex justify-content-start align-items-center">
                <p></p> -->
                <!-- <img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src=""> -->
                <!-- <button id="galleryEventImg_deLInput" class="basis_close_btn"></button>
            </div>
        </div>
    </div> -->
</section>
{% endblock %}   