{% if current_user.is_authenticated %}
    {% extends 'base/admin_base.html' %}
{% else %}
    {% extends 'base/base.html' %}
{% endif %}
{% block content %}
<!--Секция галерея-->
<section class="galleryEvent basic_bg w-100">
    {% if edit_tools == True %}
        <div class="row align-content-center">
            <button class="my_add_btn_static" data-modal="galleryEvent_add">добавить событие</button>
        </div>
    {% endif %}
    {% for current_gallery in list_of_gallerys %} 
        <div class="d-flex flex-row justify-content-start">
            <div>
                <p id="galleryEvent_date" class="lessons_data">{{current_gallery['date']}}</p>
            </div>
            <div style="width: 1%;"></div>
            <div class="d-flex flex-row">
                <p class="lessons_data bg-secondary" id="galleryEvent_title">{{current_gallery['title']}}</p>
                {% if edit_tools == True %}
                <div><button class="basis_edit_btn" data-modal="galleryEvent_edit"></button></div>
                {% endif %}
            </div>
        </div>
        <div class="row photos">
             {% for image in current_gallery['images'] %} 
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" data-img-id="{{image[0]}}" src="{{image[1]}}">
            </div>
            {% endfor %}
        </div>
    {% endfor %}
  </section>
{% endblock %}
