{% extends 'base.html' %}
{% block content %}
<!--Секция новости-->
<section class="d-flex"> 
    <div class="row" style="margin: 1%; border: 1px solid black;">
        <div class="col">
            <img src="/static/img/news/news_placeholder.jpg" class="" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="card-title">Заголовок новости</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam suscipit feugiat nunc, vel maximus arcu aliquet ut.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam suscipit feugiat nunc, vel maximus arcu aliquet ut.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam suscipit feugiat nunc, vel maximus arcu aliquet ut.</p>
            <p style="border: 1px solid black; width: fit-content; padding: 0 20px;">25.01.2024</p>
            <a href="/news" class="btn btn-light">Узнать больше</a>
        </div>
    </div>
  </section>
{% endblock %}