{% if current_user.is_authenticated %}
    {% extends 'base/admin_base.html' %}
{% else %}
    {% extends 'base/base.html' %}
{% endif %}
{% block content %}
<!--Секция новости-->
<section id="news" class="static_h basic_bg"> 
    <div class="container">
        <div class="d-flex flex-column">
            <div class="news_image col-4">
                    <img src="/{{current_news['image_src']}}" alt="...">
            </div>
            <h1 class="">{{current_news['title']}}</h5>
            <p class="">{{current_news['news_desc']}}</p>
            <p class="news_date">{{current_news['date']}}</p>
        </div>
    </div>
  </section>
{% endblock %}
