<!--Секция новости-->
<div class="lastNews">
<section id="news" class="container "> 
        <div class="row d-flex justify-content-center ">
            <div class="col row">
                <div class="col-6" data-image_id="{{lastNews['id']}}" >
                    <img src="{{lastNews['image_src']}}" class="img-fluid" alt="..." >
                </div>
                <div class="col-1">
                    <h5 class="card-title">{{lastNews['title']}}</h5>
                    <p class="lastNews_date">{{lastNews['date']}}</p>
                    <a href="/news" class="btn btn-light">Узнать больше</a>
                </div>
                <div class="col-5">
                    <p class="card-text">{{lastNews['news_desc']}}</p>
                </div>
            </div>


        </div>
  </section>
</div>
