{% if current_user.is_authenticated %}
    {% extends 'base/admin_base.html' %}
{% else %}
    {% extends 'base/base.html' %}
{% endif %}
{% block content %}
<!--Секция новости-->
<section id="news" class="basic_bg news"> 
    <div class="container">
        {% if current_user.is_authenticated %}
        <!--инстурменты администратора для данного блока-->
        <div class="row">
            <button class="my_add_btn_static"><a href="/createNews_page">добавить новость</a></button>
        </div>
        {% endif %}
        <div class="d-flex flex-column">
            {% for new in news %}
            <div class="row" data-new_id="{{new['id']}}" style="margin: 1%;padding: 1%; border: 1px solid black;">
                <div id="news_image" class="col-4"  >
                    <img src="{{new['image_src']}}" alt="..." width="300px">
                </div>
                <div class="col">
                    <h5 class="card-title">{{new['title']}}</h5>
                    <p class="card-text">{{new['news_desc']}}</p>
                    <p style="border: 1px solid black; width: fit-content; padding: 0 20px;">{{new['date']}}</p>
                    <a href="/news" class="btn btn-light">Узнать больше</a>
                </div>
            </div>
            {% if edit_tools == True %}
            <div class="">
                <button class="my_add_btn_static"><a href="updateNews_page/{{new['id']}}">изменить новость</a></button>
                <button class="my_add_btn_static"><a href="deleteNews_action/{{new['id']}}">удалить новость</a></button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock %}
