<!--<?php  include 'header.php'; ?>-->
{% extends 'admin_base.html' %}
{% block content %}
{% include 'modal_base.html' %}
<!--Секция опросник-->
  <section  id="slider">
    <div class="container pad_section_slider">
      <div class="row fix-mar">
        <div class="col-lg-5">
          <img src="{{url_for('static', filename='img/drone-slider.webp')}}" alt="" class="img-fluid animated">
        </div>
        <div class="col-lg-1"></div>
        <!-- начало шаблона текста -->
        <div class="col-lg-6" id="content" data-id="">
          <div class="card_right">

            <h2 class="mb-4">Рады тебя видеть!</h2>
            <p></p>
            <p>Ямальский многопрофильный колледж открывает направление FPV-дронов</p>
            <p>Тема FPV-дронов достаточно актуальна на сегоднейший день, мы хотим попробывать дать нашим студентам навыки и скиллы, которые в будущем будут им полезны</p>
            <p>Пожалуйста, пройди опрос по кнопке ниже</p>
            </div>
          <button type="button" class="custom_btn" onclick="poll()">Пройти короткий опрос</button>
        </div>
          </div>
        </div>
        <div class="col-lg-6" id="form">
          <iframe src="https://forms.yandex.ru/u/650c8a4ec417f386d49b9320/?iframe=1" frameborder="0" name="ya-form-650c8a4ec417f386d49b9320" onclick="poll()" class="form_yandex" style="height: 545px;"></iframe>
        </div>
      </div>
    </div>
  </section>
<!--Секция опросник-->
<section id="table">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">{{table_rows[0]['title']}}</h2>
        <hr class="hr-line">
        <p class="custom_p">{{table_rows[0]['description']}}</p>
        <table class="table_rasp">
          <tr>
            <th class="none_border_left_top_bottom"></th>
            <th class=""></th>
            <th>Время начала занятия</th>
            <th>Время конца занятия</th>
            <th>Место проведения</th>
            <th class="none_border_right_top_bottom"></th>
          </tr>
        {% for item in table_rows %}
            <tr>
                <td class="none_border_left_top_bottom"></td>
                <td>{{item['day']}}</td>
                <td>{{item['start']}}</td>
                <td>{{item['end']}}</td>
                <td>{{item['location']}} </td>
                <td class="none_border_right_top_bottom td_hover">ред</td>
            </tr>
          
        {% endfor %}
            
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr class="">
            <td class="none_border_left_top_bottom "></td>
            <td colspan="4" class="info_rasp_dop ">{{table_rows[0]['requirements']}}</td>
            <td class="none_border_right_top_bottom"></td>
          </tr>
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr  class="time_table_add_btn">
            <td class="none_border_right_top_bottom"></td>
            <td id="time_table_add_day" colspan="4" class="info_rasp_dop">добавить день</td>
            <td class="none_border_left_top_bottom"></td>
          </tr>
        </table>
      </div>
      
  </div>
</section>
<!--   Секция медиа-->
  <section id="media">
    <div class="container">
      <div class="text-center">
        <h2 class="mb-3">Медиа контент</h2>
        <hr class="hr-line">
        <p class="mb-5 custom_p">Наши преподаватели ездили на закрытый аэродром Российского высшего учебного заведения "Московский авиационный институт".
          <br> Ниже представлены фотогалерея и медиа с курсов повышения квалификации преподавателей</p>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-lg-0">
          <img
            data-src="{{url_for('static', filename='img/img1.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
          <img

            data-src="{{url_for('static', filename='img/img2.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
          <img
            data-src="{{url_for('static', filename='img/img13.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
        </div>
        <div class="col-lg-8 mb-lg-0">
          <div class="video-container">

            <video src="{{url_for('static', filename='img/fpv1.mp4')}}" class="w-100 shadow-1-strong rounded fix-h" loop autoplay muted></video>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 mb-lg-0">
          <div class="row">
              <div class="col-lg-6 col-md-12 mb-lg-0">
                <img
                  data-src="{{url_for('static', filename='img/img6.webp')}}"
                  class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                  alt="Boat on Calm Water"
                  onclick="LinkFull(this.src)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                />
              </div>
              <div class="col-lg-6 mb-lg-0">
                <img
                  data-src="{{url_for('static', filename='img/img7.webp')}}"
                  class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                  alt="Boat on Calm Water"
                  onclick="LinkFull(this.src)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                />
              </div>
            </div>
          <div class="col-lg-12 col-md-12 mb-lg-0">
            <div class="video-container fix-h-3">
              <video src="{{url_for('static', filename='img/fpv2.mp4')}}" class="w-100 shadow-1-strong rounded fix-h" loop autoplay muted></video>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-lg-0">
              <img
                data-src="{{url_for('static', filename='img/img9.webp')}}"
                class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                alt="Фото_8"
                onclick="LinkFull(this.src)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              />
            </div>
            <div class="col-lg-6 col-md-12 mb-lg-0">
              <img
                data-src="{{url_for('static', filename='img/img11.webp')}}"
                class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
                alt="Фото_8"
                onclick="LinkFull(this.src)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-lg-0">
          <div class="col-lg-12 mb-lg-0">
            <img
              data-src="{{url_for('static', filename='img/img3.webp')}}"
              class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
              alt="Waves at Sea"
              onclick="LinkFull(this.src)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
            <img
              data-src="{{url_for('static', filename='img/img10.webp')}}"
              class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
              alt="Фото_8"
              onclick="LinkFull(this.src)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
            <img
              data-src="{{url_for('static', filename='img/img8.webp')}}"
              class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
              alt="Фото_8"
              onclick="LinkFull(this.src)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-lg-0">
          <img
            data-src="{{url_for('static', filename='img/img5.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
          <img
            data-src="{{url_for('static', filename='img/img12.webp')}}"
            class="w-100 shadow-1-strong rounded mb-4 fsi lazy"
            alt="Waves at Sea"
            onclick="LinkFull(this.src)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          />
        </div>
        <div class="col-lg-8 mb-lg-0">
          <div class="video-container">
            <video src="{{url_for('static', filename='img/fpv3.mp4')}}" class="w-100 shadow-1-strong rounded fix-h fix-bg" height="100px" loop autoplay muted></video>
          </div>
        </div>
    </div>
    <!--   Секция медиа-->
  </section>
  <section class="dark-grey-text text-center p-4" id="info-vid">
    <div class="container my-5">
    <h2 class="mb-5 text-white">Присоединяйся к нам!</h2>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">20</p>
          <h5 class="black-text mb-0 h6">единиц оборудования <br>для пилотирования</h5>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">8</p>
          <h5 class="black-text mb-0 h6">студентов уже попробывали <br>себя в пилотировании</h5>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">4</p>
          <h5 class="black-text mb-0 h6">педагога уже в ЯМК <br>и готовы обучать вас</h5>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card-body card hoverable card_widget_info">
          <p class="h2">2</p>
          <h5 class="black-text mb-0 h6">раза участвовали в конкурсах<br> по пилотированию</h5>
        </div>
      </div>
    </div>
    </div>
  </section>
<!--    Секция преподователи-->
    <section id="teacher">
      <div class="container">

        <div class="row">
          <div class="text-center">
            <h2 class="mb-3">Преподаватели</h2>
            <hr class="hr-line">
            <p class="mb-5 custom_p">Наши профессиональные инструкторы будут рядом с вами, чтобы помочь вам освоить основы управления дронами.
              <br> Они имеют богатый опыт в полетах на FPV-дронах и готовы поделиться своими знаниями и секретами</p>
          </div>

          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">

            <img data-src="{{url_for('static', filename='img/diplom1.webp')}}" alt="" class="img-fluid img_diplom fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">

              <img data-src="{{url_for('static', filename='img/teacher1.webp')}}" alt="a snow-capped mountain range img_teacher" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Смолькин Никита Николаевич</h2>
                <p class="card-text">Управление БПЛА стало для меня любимым занятием&#128579;</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">

            <img data-src="{{url_for('static', filename='img/diplom3.webp')}}" alt="" class="img-fluid img_diplom fsi lazy"  onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">
              <img data-src="{{url_for('static', filename='img/teacher2.webp')}}" alt="a snow-capped mountain range img_teacher" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Рыбин Юрий Иванович</h2>
                <p class="card-text">Управление БПЛА для меня и работа, и наслаждение&#128526;</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">



            <img data-src="{{url_for('static', filename='img/diplom2.webp')}}" alt="" class="img-fluid img_diplom img_teacher fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">

              <img data-src="{{url_for('static', filename='img/teacher3.webp')}}" alt="a snow-capped mountain range" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Чесноков Андрей Юрьевич</h2>
                <p class="card-text">Управление БПЛА стало для меня новым увлекательным занятием &#128521;</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-4 text-center">

            <img data-src="{{url_for('static', filename='img/diplom4.webp')}}" alt="" class="img-fluid img_diplom img_teacher fsi lazy" onclick="LinkFull(this.src)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card">

              <img data-src="{{url_for('static', filename='img/teacher5.webp')}}" alt="a snow-capped mountain range" class="lazy"/>
              <div class="card-body card_fix_body">
                <h2 class="card-title">Александр Захаров Владимирович</h2>
                <p class="card-text">Управление БПЛА стало для меня любимым хобби &#128064;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--    Секция преподаватели-->
<section class="" id="faq">
  <div class="container">
    <div class="text-center">
      <h2 class="mb-3">FAQ</h2>
      <hr class="hr-line">
      <p class="mb-5 custom_p">Здесь мы собрали самые популярные вопросы студентов Ямальского многопрофильного колледжа, на которые даем ответы. Все получится!</p>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Какой опыт или предварительная подготовка требуются для обучения пилотированию дронов FPV в колледже?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Для обучения пилотированию дронов FPV в колледже не требуется никакого предварительного опыта или подготовки. Наши преподаватели постараются, чтобы студенты могли начать с нуля и приобрести все необходимые навыки и знания.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Каковы преимущества обучения пилотированию дронов FPV в Ямальском многопрофильном колледже?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Обучение пилотированию дронов FPV в колледже предоставляет множество преимуществ. Студенты имеют доступ к специализированному оборудованию, что позволяет им максимально эффективно осваивать навыки пилотирования. Колледж также может предоставить возможность получать опыт на реальных проектах. Кроме того, наш колледж постарается получить аккредитацию в будущем, которая подразумевает получение диплома или сертификата, которые могут повысить шансы студента на рынке труда.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Какие основные навыки и знания студенты получат во время курсов обучения пилотированию дронов FPV в колледже?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Во время курсов обучения пилотированию дронов FPV студенты будут осваивать разнообразные навыки и получать обширные знания. Они изучат основы пилотирования дронов FPV, включая управление и навигацию, безопасность полетов и правила воздушного движения. Они также получат практический опыт полетов и смогут развить свои навыки пилотирования в различных сценариях и условиях.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Какой резон мне учиться на пилотирование FPV-дрона, ради диплома?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Только отчасти.
            <br><br> Во-первых, пилотирование FPV является захватывающим хобби, которое может стать страстным увлечением. Имея навыки пилотирования FPV, вы сможете в полной мере наслаждаться полетами и исследованием новых, захватывающих мест, которые обычно недоступны другим видам пилотирования.
            <br><br> Во-вторых, пилотирование FPV может быть полезным навыком для различных профессиональных областей. Например, в сфере фото- и видеосъемки пилотирование FPV открывает возможности для создания уникальных и захватывающих кадров, которые обычно не могут быть достигнуты с помощью традиционных методов.
            <br><br> В-третих, пилотирование FPV поможет вам встать на путь получения военной учетной специальности в армии по управению боевыми дронами.
            <br><br> Наконец, обучение на пилотирование FPV поможет вам развить навыки в области дронотехнологий и авиации, что может быть полезным для дальнейшей карьеры в этих сферах.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Подскажите, чем в целом мы будем заниматься на протяжении обучения?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            В течение обучения по пилотированию FPV-дронов мы будем заниматься овладением навыками управления и маневрирования дронами в режиме полёта от первого лица (FPV) на симуляторах. Это включает в себя изучение основных принципов управления дронами, ознакомление с различными моделями FPV-дронов и их особенностями, а также практические тренировки на симуляторе для развития пилотирования в различных ситуациях. В целом, на протяжении обучения по пилотированию FP-дронов мы будем учиться всем необходимым навыкам и знаниям для безопасного и профессионального пилотирования дронов в режиме FPV. Также попрубем полетать на реальных дронах в режиме «Визуального пилотирования»
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            FPV-дроны классная тема, а сколько это обучение будет стоить для меня?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Обучение пилотированию FPV-дронов для студентов Ямальского многопрофильного колледжа предлагается бесплатно. Вы сможете получить все необходимые навыки и знания для управления FPV-дроном без каких-либо затрат. Это отличная возможность начать погружение в увлекательный мир FPV-полётов, не тратя значительных денежных средств на обучение. Мы поддерживаем доступность обучения и стремимся помочь каждому желающему научиться пилотировать FPV-дроны.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Сколько по времени будет длиться обучение?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Как такового ограничения по времени нет. В зависимости от возможностей преподавателей, вы сможете обучаться практически каждый день. Сроки обучения открытые.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Какое оборудование для пилотирования уже есть у Ямальского многопрофильного колледжа?
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            На данный момент уже есть отличный парк оборудования для базового пилотирования, в их число входит:
            <ol class="mt-3 mb_item_ol">
              <li>RadioMaster TX12 MKII ELRS <span class="remark_item_css">12&nbsp;штук</span></li>
              <li>SYMA XI5A <span class="remark_item_css">5&nbsp;штук</span></li>
              <li>DJI Mavic 3 <span class="remark_item_css">3&nbsp;штуки</span></li>
              <li>Самосборный дрон 5-дюймов <span class="remark_item_css">1&nbsp;штука</span></li>
            </ol>
            Мы не собираемся останавливаться на этом и идем дальше!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="info">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">Присоединиться</h2>
        <hr class="hr-line">
        <p class="custom_p">Сейчас мы только набираем аудиторию. Чтобы быть в курсе событий вступай в наш Telegram. <br> Там будем транслировать куда нужно подходить и во сколько :D</p>
        <a href="https://t.me/+YMLvPOIS-YxlNWRi" class="telega_invite">Вступить</a>
      </div>
  </div>
</section>
{% endblock %}


