{% extends 'admin_base.html' %}
{% block content %}
{% include 'html_modal_blocks/modal_base.html' %}
<!--Секция опросник-->
{% include 'html_blocks/index/quiz_block.html' %}
<!--Секция последняя новость-->
{% include 'html_blocks/index/last_news.html' %}
<!--Секция расписание-->
{% include 'html_blocks/index/schedule_block.html' %}
<!--Секция медиа-->
{% include 'html_blocks/index/media_index_block.html' %}
<!--Секция преподователи-->
{% include 'html_blocks/index/teachers_block.html' %} 
<!--Секция faq-->
{% include 'html_blocks/index/faq_block.html' %}
<!--Секция join-->
{% include 'html_blocks/index/join_block.html' %}
{% endblock %}


