{% extends 'base.html' %}
{% block content %}
<!--Секция опросник-->
<section  id="galerry">
        <p class="lessons_data">25.01.2024</p>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/25012024/1.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/25012024/2.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/25012024/3.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/25012024/4.webp')}}"></div>
        </div>
        <p class="lessons_data">23.01.2024</p>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/1.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/2.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/3.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/4.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/13.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/14.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/15.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/16.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/5.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/6.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/7.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/8.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/9.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/10.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/11.webp')}}"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" data-bs-target="#exampleModal" data-bs-toggle="modal" onclick="LinkFull(this.src)" src="{{url_for('static', filename='img/23012024/12.webp')}}"></div>
        </div>
  </section>
<!--Секция опросник-->
{% endblock %}
