{% extends 'base.html' %}
{% block content %}
{% include 'html_modal_blocks/modal_base.html' %}

<!--2 Секция опросник-->
{% include 'html_blocks/index/quiz_block.html' %}
<div class="purple_gradient">
    <!--1 Секция последняя новость-->
{% include 'html_blocks/index/last_news.html' %}
<!--3 Секция расписание-->
{% include 'html_blocks/index/schedule_block.html' %}
</div>
<!--4 Секция медиа-->
{% include 'html_blocks/index/media_index_block.html' %}
<!--5 Секция преподователи-->
{% include 'html_blocks/index/teachers_block.html' %} 
<!--6 Секция faq-->
{% include 'html_blocks/index/faq_block.html' %}
<!--7 Секция join-->
{% include 'html_blocks/index/join_block.html' %}
{% endblock %}


