{% extends 'base.html' %}
{% block content %}
<!-- всплывающее окно -->
{% include 'modal_block.html' %}
{% include 'modal_message.html' %}
{% include 'modal_warning.html' %}
<!-- меню сайта -->
<header class="header_section" id="header">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-1 col-sm-1 col-m title_logo db132 drone_logo_fix title_logo_fix">
            <a href="/" class=""> <!-- логитип и заголовок веб-страницы -->
                <img src="{{url_for('static', filename='img/drone-logo.svg')}}" alt="" width="20px" height="20px" class="drone_logo">ЯМК
                <a href="/" class="webpage_name">{{webpage_name}}</a>
            </a>
        </div>
      <div class="col-lg-11 col-sm-11 fix-w">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid align-content-center ">
            <div class="db_nao db_yes title_logo ">
              <a href="/">
                <img src="{{url_for('static', filename='img/drone-logo.svg')}}" alt="" width="20px" height="20px" class="drone_logo">ЯМК
              </a>
            </div>
            <div class="flex-mob">
              <button onclick="HeaderFull()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div id="bg_close">
                </div>
                <img src="{{url_for('static', filename='img/close_square.svg')}}" alt="" id="img_close">
              </button>
            </div>
            <!-- динамическая загрузка меню -->
            <div class="collapse navbar-collapse showfillmy" id="navbarNavAltMarkup">
              <div class="navbar-nav"  id="links">
                <div class="nav_links">
                    {% for link in links %} 
                        <div draggable="true" class="editable_block" id="menu_link_block{{loop.index}}">
                            <a class="nav-link header_color" href="{{link[1]}}" onclick="RemoveCol()">
                                {{link[0]}}
                            </a>
                            {% if role == 'administrator' %}
                            <div class="edit_tools">
                              <button id="move_item_btn" class="move_item_bnt" data-id="{{loop.index}}"></button>
                              <button id="edit_item_btn" class=""></button>
                              <button id="delete_item_btn" data-delete_id="{{link[2]}}"></button>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}     
                </div>
                {% if role == 'administrator' %}
<!--                  кнопка редактирования-->
                <div>
                    <button class="basic_edit_btn" data-modal="edit_menu"></button>
                </div>
                {% endif %}
              </div>
                <div class="db_nao db_yes telegram_header">
                  <a href="https://t.me/+YMLvPOIS-YxlNWRi" target="_blank">
                    <img src="{{url_for('static', filename='img/telegram-svgrepo-com.svg')}}" alt="">
                  </a>
                </div>
            </div>
          </div>
            <div class="btn_exit_fix">
                {% if current_user.is_authenticated == True %}
                    <a class="my_a_link" id="logout" href="#">выход</a>
                    <!-- <p>{{current_user.FIO}}</p> -->
                {% else %}
                    <a class="my_a_link" data-modal="login" href="#" onclick="RemoveCol()">вход</a>
                {% endif %} 
            </div>
      </nav>
      </div>
    </div>
  </div>
</header>
{% if current_user.is_authenticated == True %}
<!-- секция для вывода блоков с элементами веб-страницы -->
<section class="main_space basic_bg">
    <!-- окно для создания нового блока веб-страницы -->
    <div class="add_new_mainblock editor_hover" id="add_new_mainblock_act">
        <p>добавить блок элементов</p>
    </div>
</section>
{% endif %}
















<!--базовый блок к который загружается модальное окно (для разработки модальных окон)-->
<!-- <section id="modal_menu" class="basic_modal close_modal">
    <div class="modal_block">
        <div class="modal_header">
            <h2 id="modal_header_title">Модальное окно</h2>
            <p class="modal_btn_close" id="modal_btn_act_close"></p>
        </div>
        <div id="modal_content_div" class="modal_content">
        </div>       
    </div>
</section> -->
{% endblock %}

