<!--<?php  include 'header.php'; ?>-->
{% extends 'base.html' %}
{% block content %}
<section  class="basic_bg">
    <div class="container">
      <div class="row fix-mar">
        <div class="col-lg-1"></div>
        <div class="col-lg-6" id="content">
          <div class="card_right">
            <h2 class="mb-4">Авторизация</h2>
              <form action="/autorization" method="post">
                  <input type="text" name="login">
                  <input type="text" name="password">
                  <input type="submit" value="вход">
              </form>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}