{% if current_user.is_authenticated %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}
{% block content %}
{% include 'html_modal_blocks/modal_base.html' %}
<!--Секция новости-->
<section id="news" class="container"> 
    {% if edit_tools == True %}
    <!--инстурменты администратора для данного блока-->
    <div class="row align-content-center">
        <button class="my_add_btn_static" data-modal="news_add">добавить новость</button>
    </div>
    {% endif %}
    {% for new in news %}
        <div class="row" style="margin: 1%; border: 1px solid black;">
            <div class="col" data-image_id="{{new['id']}}" >
                <img src="{{new['image_src']}}" class="" alt="..." width="300px">
            </div>
            <div class="col">
                <h5 class="card-title">{{new['title']}}</h5>
                <p class="card-text">{{new['news_desc']}}</p>
                <p style="border: 1px solid black; width: fit-content; padding: 0 20px;">{{new['date']}}</p>
                <a href="/news" class="btn btn-light">Узнать больше</a>
            </div>
        </div>
    {% endfor %}
  </section>
{% endblock %}
