{% if current_user.is_authenticated %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}
{% block content %}
{% include 'html_modal_blocks/modal_base.html' %}
<!--Секция новости-->
<section id="news" class="container"> 
    {% if edit_tools == True %}
    <!--инстурменты администратора для данного блока-->
    <div class="row">
        <button class="my_add_btn_static" data-modal="add_news">добавить новость</button>
    </div>
    {% endif %}
    <div class="d-flex flex-column">
        {% for new in news %}
        <div class="row" data-new_id="{{new['id']}}" style="margin: 1%;padding: 1%; border: 1px solid black;">
            <div id="news_image" class="col-4"  >
                <img src="{{new['image_src']}}" alt="..." width="300px">
            </div>
            <div class="col">
                <h5 class="card-title">{{new['title']}}</h5>
                <p class="card-text">{{new['news_desc']}}</p>
                <p style="border: 1px solid black; width: fit-content; padding: 0 20px;">{{new['date']}}</p>
                <a href="/news" class="btn btn-light">Узнать больше</a>
            </div>
            {% if edit_tools == True %}
            <div class="d-flex flex-row">
                <button class="my_add_btn_static" data-modal="edit_news">изменить новость</button>
                <button class="my_add_btn_static" data-modal="del_news">удалить новость</button>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
  </section>
{% endblock %}
