
/*страница новости */
#news .row>div.row{
    margin: 1%;
    padding: 1%; 
    color: black;
    border: 1px solid white;
    box-shadow: 3px 1px 15px 1px #4b2067 ;
    filter: brightness(90%) blur(0px);
    border-radius: 12px;
    background: white;
}
/* #news h3{
    ma
} */
#news .card-text{
    width: 100% !important;
}
#news > .container{padding-top: 50px;}
.news_image{
    padding: 0;
    margin: 0;
    max-height: 170px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 6px;    
    border: 1px solid white;
}
.news_image img {
    min-width: 300px;
    object-fit: cover;
    object-position: center; 
}
.news_date{
    border: 1px solid black;
    width: fit-content;
    padding: 0 20px;
    background: white;
    color: black;
}


/* страница новости */
/* последняя новость блок */
/* .purple_gradient{
    background: linear-gradient(to top, #4b2067, #331648, #2C133E)
} */
/* .lastNews { 
    background-color: none;
    padding: 1%;
    color: white;
} */
/* .lastNews>*{margin: 0 auto;} */

/* .lastNews img.img-fluid{
    height: 120%;
    border-radius: 6px;
} */
/* .news_date{
    border: 1px solid black; 
    width: fit-content; 
    padding: 0 20px;
} */








