<!--Секция новости-->
<div class="lastNews">
<section id="news_slider" class="container"> 
    <h2 class="col py-5 pt-1 text-center">Последние новости</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div id="news_carousel" data-bs-ride="carousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4">
                                    <div class="index_news_img_div">
                                        <img src="{{lastNews[0]['image_src']}}"  class="card-img-top" alt="...">
                                    </div>
                                </div>
                            <div class="col-8">
                                <div class="row">
                                    
                                    <h3 class="card-title col-4 text-center">{{lastNews[0]['title']}}</h5>
                                    <p class="lastNews_date col-2">{{lastNews[0]['date']}}</p>
                                </div>
                                <div class="row">
                                    <p class="col-8">{{lastNews[0]['news_desc']}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-2"><a href="/news" class="btn-light ">больше новостей</a></div>
                                    <div class="col-2"><a href="/news/more/{{lastNews[0]['id']}}" class="btn-light">Узнать больше</a></div>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% for new in lastNews[-1:-3:-1] %}
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4">
                                    <div class="">
                                        <img src="{{new['image_src']}}"  class="card-img-top" alt="...">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <h3 class="card-title col-4 text-center">{{new['title']}}</h5>
                                        <p class="lastNews_date col-2">{{new['date']}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-8">{{new['news_desc']}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><a href="/news" class="btn-light ">больше новостей</a></div>
                                        <div class="col-2"><a href="/news/more/{{new['id']}}" class="btn-light">Узнать больше</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                    <!-- кнопки назад \ вперед слайдера -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#news_carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#news_carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                        
                    </button> 
                    
                </div>
                
            </div>


        </div>
        
  </section>
  
</div>
