<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">Расписание</h2>
        <hr class="hr-line">
        <p class="custom_p">узнайте когда занятия</p>
        {% if not scheduleDays %}
          {% if current_user.is_authenticated %}
          <h2>В расписании нет дней, заполните данные</h2>
          {% else %}
          <h2>Расписание в процессе заполнения..</h2>
          {% endif %}
        {% else %}
        <table class="table_rasp">
          <tr>
            <th colspan="2">День недели</th>
            <th>Время начала занятия</th>
            <th>Время завершения занятия</th>
            <th colspan="2">Место проведения</th>
          </tr>
        {% for day in scheduleDays %}
            <tr data-scheduleDay-id="{{day['id']}}">
                <td colspan="2" id="scheduleDayName">{{day['day']}}</td>
                <td id="scheduleStart">{{day['start']}}</td>
                <td id="scheduleEnd">{{day['end']}}</td>
                <td colspan="2" id="scheduleLocation">{{day['location']}} </td>
            </tr>
        {% endfor %}
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr>
            <td colspan="5" class="info_rasp_dop ">обязательная сменная обувь</td>
          </tr>
        </table>
        {% endif %}
        
      </div>
  </div>
</section>