<section id="table">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="mb-3">затычка - доделать контроллер таблиц</h2>
        <hr class="hr-line">
        <p class="custom_p">затычка - доделать контроллер таблиц</p>
        <table class="table_rasp">
          <tr>
            <th class="none_border_left_top_bottom"></th>
            <th class=""></th>
            <th>Время начала занятия</th>
            <th>Время конца занятия</th>
            <th>Место проведения</th>
            <th class="none_border_right_top_bottom"></th>
              <th class="none_border_right_top_bottom"></th>
          </tr>
        {% for day in scheduleDays %}
            <tr>
                <td class="none_border_left_top_bottom"></td>
                <td>{{day['day']}}</td>
                <td>{{day['start']}}</td>
                <td>{{day['end']}}</td>
                <td>{{day['location']}} </td>
<!--                инстурменты администратора для данного блока-->
                {% if edit_tools == 'True' %}
                <td class="none_border_right_top_bottom td_hover" id="edit_table_row">ред</td>
                <td class="none_border_right_top_bottom td_hover" id="del_table_row" >del</td>
                {% endif %}
            </tr>
        {% endfor %}
          <tr>
            <td colspan="6" class="fix_bord"></td>
          </tr>
          <tr class="">
            <td class="none_border_left_top_bottom "></td>
            <td colspan="4" class="info_rasp_dop ">затычка - доделать контроллер таблиц</td>
            <td class="none_border_right_top_bottom"></td>
          </tr>
        </table>
          <button class="time_table_add_btn">добавить день</button>
      </div>
  </div>
</section>